<script>
  $(document).ready(function(){
    $("#ae_form").validate({
  rules: {
    partita_iva: {
      number: true
    }
  }
});
  });
</script>

{% if pageData["action"] == "edit" %}
<form class="cmxform" id="ae_form" action="/anagrafiche/cliente/fromedit" method="post">
<input type="hidden" name="id" value="{{pageData['dao'].id}}"/>
{% else %}
<form class="cmxform" id="ae_form" action="/anagrafiche/cliente/add" method="post">
{% endif %}
<p><label>Ragione Sociale:</label><input class="required" type="text" name="ragione_sociale" size="60" value='{{pageData["dao"].ragione_sociale|nonone}}' /></p>

<p><fieldset><LEGEND> <b>Contatti principali</b> </LEGEND>
<p><label>Telefono:</label><input type="text" name="sede_operativa_indirizzo" size="60" value='{{pageData["dao"].sede_operativa_indirizzo|nonone}}' /></p>
<p><label>Fax:</label><input type="text" name="sede_operativa_localita" size="60" value='{{pageData["dao"].sede_operativa_localita|nonone}}' /></p>
<p><label>Cellulare:</label><input type="text" name="sede_operativa_cap" size="5" value='{{pageData["dao"].sede_operativa_cap|nonone}}' /></p>
<p><label>Email:</label><input type="text" name="sede_operativa_provincia" size="60" value='{{pageData["dao"].sede_operativa_provincia|nonone}}' /></p>

<p><label>Sito web:</label><input type="text" name="sede_operativa_provincia" size="60" value='{{pageData["dao"].sede_operativa_provincia|nonone}}' /></p>
<p><label>Note:</label><input type="text" name="sede_operativa_provincia" size="60" value='{{pageData["dao"].sede_operativa_provincia|nonone}}' /></p>
</fieldset></p>

<p><label>Magazzino referenziale:</label>
<select name="id_magazzino">
                    <option value=""></option>
                    {% for t in pageData['magazzini'] %}
                    {% if t.id == pageData["dao"].id_magazzino %}
                           <option value="{{t.id}}" selected="yes">{{t.denominazione}}</option>
                    {% else %}
                        <option value="{{t.id}}">{{t.denominazione}}</option>
                    {% endif %}
                        {% endfor %}
                    </select></p>
<p><label>Banca preferenziale:</label>
<select name="id_banca">
                    <option value=""></option>
                    {% for t in pageData['banche'] %}
                    {% if t.id == pageData["dao"].id_banca %}
                           <option value="{{t.id}}" selected="yes">{{t.denominazione}}</option>
                    {% else %}
                        <option value="{{t.id}}">{{t.denominazione}}</option>
                    {% endif %}
                        {% endfor %}
                    </select></p>
<p><label>Listino  preferenziale:</label>
<select name="id_listino" >
                    <option value=""></option>
                    {% for t in pageData['listini'] %}
                    {% if t.id == pageData["dao"].id_listino %}
                           <option value="{{t.id}}" selected="yes">{{t.denominazione}}</option>
                    {% else %}
                        <option value="{{t.id}}">{{t.denominazione}}</option>
                    {% endif %}
                        {% endfor %}
                    </select></p>
<p><label>Pagamento preferenziale:</label>
<select name="id_pagamento">
                    <option value=""></option>
                    {% for t in pageData['pagamenti'] %}
                    {% if t.id == pageData["dao"].id_pagamento %}
                           <option value="{{t.id}}" selected="yes">{{t.denominazione}}</option>
                    {% else %}
                        <option value="{{t.id}}">{{t.denominazione}}</option>
                    {% endif %}
                        {% endfor %}
                    </select></p>
<p><label>Categorie Cliente:</label>
    <select name="moduli" style="width: 50%" size="3" multiple="multiple">
            {% for a in pageData['categoriecliente'] %}
                {% if a.id in pageData["idscatecli"] %}
               <option value="{{a.id}}" selected="yes">{{a.denominazione}}</option>
        {% else %}
            <option value="{{a.id}}">{{a.denominazione}}</option>
        {% endif %}
            {% endfor %}
        </select>
        <br />
    </p>
<br/><br/>



<input type="submit" name="add" value="Aggiungi" />
<input type="reset" value="Azzera" name="submit" />
</form>
