{% extends 'index.html' %}

{% block body %}
        <table cellpadding="0" cellspacing="4" border="0">
<!-- 	<tr><td colspan="8" class="report-header">Dettaglio scontrino</td></tr> -->
	<tr>
		<td class="table-header">Articolo</td>
		<td class="table-header">Codice a barre</td>
		<td class="table-header">Descrizione</td>
		<td class="table-header">Quantita'</td>
		<td class="table-header">Prezzo</td>
		<td class="table-header">Sconto</td>
		<td class="table-header">Prezzo Netto</td>
		<td class="table-header">Totale</td>
        </tr>
            {% for riga in dao.righe %}
            <tr class="row">
            <td class="odd-detail">{{riga.codice_articolo}}</td>
            <td class="odd-detail">{{riga.codice_a_barre}}</td>
            <td class="odd-detail">{{riga.descrizione[:20]}}</td>
            <td class="odd-number">{{environment.conf.number_format % (riga.quantita or 0)}}</td>
            <td class="odd-number">{{environment.conf.number_format % (riga.prezzo or 0)}}</td>
            {% if riga.tipo_sconto == 'percentuale' %}
            <td class="odd-number">
                {{environment.conf.number_format % (riga.valore_sconto or 0) + "%"}}
            </td>
            {% else%}
            <td class="odd-number">
                {{environment.conf.number_format % (riga.valore_sconto or 0) + " "}}
            </td>
            {% endif %}
            <td class="odd-number">{{environment.conf.number_format % (riga.prezzo_scontato or 0)}}</td>
            <td class="odd-number"><strong>{{environment.conf.number_format % ( riga.quantita * riga.prezzo_scontato ) or 0}}</strong></td>
        </tr>
            {% endfor %}
        </table>
{% endblock %}