<script>
  $(document).ready(function(){
    $("#ae_form").validate({
  rules: {
    moltiplicatore: {
      required: true,
      number: true
    }
  }
});
  });
</script>

{% if pageData["action"] == "edit" %}
<form  id="ae_form" action="/parametri/multiplo/fromedit" method="post">
<input type="hidden" name="id" value="{{pageData['dao'].id}}"/>
{% else %}
<form  id="ae_form" action="/parametri/multiplo/add" method="post">
{% endif %}
<p><label>Denominazione:</label><input type="text" name="denominazione" size="60" value='{{pageData["dao"].denominazione|nonone}}' class="required" /></p>
<p><label>Denominazione breve:</label><input type="text" name="denominazione_breve" size="60" value='{{pageData["dao"].denominazione_breve|nonone}}' class="required" /></p>
<p><label for="moltiplicatore">Moltiplicatore:</label><input type="text" name="moltiplicatore" size="60" value='{{pageData["dao"].moltiplicatore|nonone}}' /></p>
<p><label>Unità Base:</label>
<select name="id_unita_base"  class="required">
                    <option value=""></option>
                    {% for t in pageData['unitabase'] %}
                    {% if t.id == pageData["dao"].id_unita_base %}
                           <option value="{{t.id}}" selected="yes">{{t.denominazione}}</option>
                    {% else %}
                        <option value="{{t.id}}">{{t.denominazione}}</option>
                    {% endif %}
                        {% endfor %}
                    </select></p>
<br/>


<input type="submit" name="add" value="Aggiungi" />
<input type="reset" value="Azzera" name="submit" />
</form>
