{% if pageData['subdomain'] %}
    {% extends pageData['subdomain']+'/'+pageData['theme']+'index.html' %}
{% else %}
    {% extends pageData['theme']+'index.html' %}
{% endif %}

{% block center %}

<div id="contentss">
        <h2>Versione DEMO online di <strong>Sla2Pdf</strong></h2>
    <p>Questo permette di testare la libreria attraverso una conversione ONLINE di un file Sla
    <br/>per provare dovete caricate un file <strong>*.sla</strong> creato con <a href="http://www.scribus.net" target="_blank">Scribus 1.3.5.x</a><br /></p>

<div id="page">
{% if not  pageData['pdffile'] %}
<FORM METHOD=POST ENCTYPE="multipart/form-data" action="{{pageData['subdomain']|nonone}}/sla2pdf?upload=1">
File to upload: <INPUT TYPE=FILE NAME="slafile"><BR>
<INPUT TYPE=SUBMIT VALUE="Submit">
</FORM>
<div>
{% else %}
<h2>NOME: {{pageData['pdfname']}}.pdf</h2>
<a href="/templates/{{pageData['pdfname']}}.pdf"><img src="/templates/siteAdmin/img/pdf_icon.png"></img></a><BR><BR>
<a href="{{pageData['subdomain']|nonone}}/sla2pdf"><b>Per convertire un altro file</b></a>
{% endif %}

</div>

    </div>
</div>


{% endblock %}