[Database]
user = promoadmin
password = admin
host = db.promotux.it
port = 5432
database = promogest_demo
azienda= azienda_mentor
tipodb = sqlite
pw = No
[RuoliAzioni]
mod_enable=yes

[Magazzini]
mod_enable=Yes

#NON RIMUOVERE LE RIGHE VUOTE SOPRA QUESTA
# L'opzione omogeneus_codice serve a stabilire come dev'essere trattato il codice.
#    Permette 4 possibili opzioni che sono : None ( non in uso),
#                                            upper ( Maiuscolizza tutto il codice),
#                                            capitalize ( Maiuscolizza solo la prima lettera ),
#                                            lower ( Minuscolizza tutto il codice)


[Forniture]
omogeneus_codice = upper

[Fornitori]
lunghezza_codice = 5
prefisso_codice = FO
omogeneus_codice= upper
struttura_codice = FOR000000

[Agenti]
omogeneus_codice = upper
prefisso_codice = AG
lunghezza_codice = 5
struttura_codice = AG000000

[Famiglie]
omogeneus_codice = upper

[Vettori]
omogeneus_codice = upper
prefisso_codice = VE
lunghezza_codice = 5
struttura_codice = VE000000

[Moduli]
cartella_moduli = ./promogest/modules

#in sistemi *nix inserire thunderbird -compose, in sistemi windows  è necessario
# inserire anche il percorso completo C:\programmi\Thunderbird ....
# Accetta html ma non virgole
[Composer]
emailcompose = thunderbird
subject = "[ Invio Doc: %s ]"
bodytemplate = """<p>Testo da gestire come corpo template
                permette anche di andare a capo se necessario
                <br />
                <br />
                da modificare nel configure interno all'azienda</p>
                <br />"""
signature = """ Invio elettronico di  %s   effettuato tramite software gestionale PromoGest """
