/*
    Style del siteAdmin

*/

* { padding: 0; margin: 0; }

body {
/*
    background-color: #E7DFC7;
*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
/*  width:1020px;*/
/*    position : absolute;*/
    margin-left: auto;
    margin-right: auto;
/*  margin-left: 10%;*/
/*  margin-right: 10%;*/

/*    margin-left : -390px;*/
}
h1 {
    color: #BFBFBF;
}

h2 {
    color: #A52A2A;
}

p { padding: 10px;}

ul {
    text-align: center;
}
a:link {
    color: #A52A2A;
    text-decoration: none;
}
a:visited {
    color: #A52A2A;
    text-decoration: none;
}
a:active {
    color: #A020F0;
    text-decoration: none;
}

li {
    text-align: left;
    color: #4D4D4D;
    list-style-type: none;
}

/** { font-family: Verdana; font-size: 96%; }*/
label { width: 10em; float: left; }
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
/*p { clear: both; }*/
.submit { margin-left: 12em; }
em { font-weight: bold; padding-right: 1em; vertical-align: top; }

img { border:0px;}

#wrapper {
 margin: 0 auto;
 width: 100%;
 height:100%;

/*background: #ddffff;*/
/*
    background-color: #E7DFC7;
*/
}

#content {
 float: left;
 color: #333;
/*
    background-color:#E7DFC7;
*/
 height: auto;
 width: 75%;
 display: inline;
padding-left:10px;
padding-right:10px;
padding-bottom:10px;
border: #F57E21 1px solid;
height:100%;
}

#header {
/* color: #333;*/
 width: 100%;
 text-align:center;
 float: left;
 height: 35px;
/*  background-color: #8AABEA;*/
        background-color:#422C1E;
}

#footer {
/*   position:absolute;*/
   bottom:0;
    position: both;
    clear: both;
    height: 22px;
    width: 100%;
/*
    background-color: #E7DFC7;
*/
}

#logo_login {
    width:100%;
    text-align:center;
/*
    margin-left:300px;
*/
}


#navigation {
 float: left;
 width: 100%;
 height: 25px;
 color: #333;
 background: #8AA1B6;
}

#leftcolumn {
    padding-left: 10px;
    padding-top: 30px;
    float: left;
    width: 9%;
    height: 600px;
/*
    background-color:#E7DFC7;
*/
    color: #333;
}


#rightcolumn {
        padding-top: 30px;
/*
    background-color:#E7DFC7;
*/
    color: #333;
/*    height: 600px;*/
    width: 10%;
    float: right;
/*    padding-left: 10px;*/
}

#footer span.copy {
    width : 388px;
    text-align : center;
}

#footer span.credits {
    width : 389px;
    text-align : center;
}

#login {
        margin-top:3%;
        margin-left: 30%;
        margin-right: 30%;
/*
        text-align : center;
*/
/*
        margin-left:20%;
*/
/*         height:50%; */
/*         width: 50%; */
/*
         text-align :center;
*/
        border: 1px solid #666666;
        padding:2%;
}
#login_input {
    margin-left: auto;
    margin-right: auto;

}
.input_login {
    font-size: 11px;
    border: 1px solid #666666;
    width: 180px;
    margin: 0px 0px 0px 0px;

}

/* AREA ADMIN */

div#box {
    background-color: #F7F5F2;
    padding: 10px;
    border: #F57E21 1px solid;
    height: 100%;
}



div#box2 {
    background : #aabbbb;
    padding : 5px;
    border: #F57E21 1px solid;
/*
    width:100%;
*/
height:100%;
/*     height: 110px; */
}

div#box2 img {
    border:0px;
}

.lineTop {
    border-top: #F57E21 1px solid;
}

.center {
    text-align : center;
}

.marginTop {
    margin-top : 5px;
}

.lineTop {
    border-top: #9b1f37 1px solid;
}

.normal {
   font-weight:normal;
}
div#box div.row {
    clear : right;
/*     border : 1px dotted;*/
}

div#box .normal {
    line-height : 28px;
    height : 30px;
}

div#box .thin {
    font-size : 13px;
    line-height : 30px;
    height : 30px;
}

div#box .ultraThin {
    height : 20px;
    font-size : 13px;
}

div#box .large {
    height : 250px;
}

div#box .freccia {
    width : 20px;
    height : 16px;
    margin-top : 2px;
}

div#box div.row img {
    margin-top : 1px;
    border:0px;
}

.box div.row span {
    display : block;
    float : left;
/*     height : 50px; */
/*     width : 19%; */
/*     border : 1px dotted; */
}

.box__ {
    display : block;
    float : left;
/*     height : 50px; */
/*     width : 19%; */
/*     border : 1px dotted; */
}

.imgText {
    float: left;
    margin-top:50px;
    position:absolute;
}


div#box div.row span.check {
    width : 15px;
}

div#box div.row span.image {
    float : right;
    width : 50px;
}

div#box span.testa {
    width : 100%;
    text-align : center;
    font-weight:bold;
    color :#5f09b5;
}

div#box span.word {
    float : left;
/*     width : 33%; */
    text-align : left;
    color :#0909b5;
/*    font-weight:bold;*/
    padding-right:10px;
/*     border : 1px dotted; */
}

div#box span.box {
    float : left;
/*     width : 33%; */
    text-align : center;
/*     border : 1px dotted; */
}

div#box div.rowBox {
    height : 130px;
/*     border : 1px dotted; */
    width : 100%;
}

div#box div.row span.word {
    float : left;
    width : 30%;
    text-align : left;
}

div#box div.row span.insert {
    width : 58%;
}

div#box div.row input {
    margin : 0px;
}

div#box div.row span.box {
    float : left;
    width : 48%;
}

div#box select.tot {
    width : 100%;
}

#img_abb {
    height : 250px;
    border: #009966 1px solid;

}
.wymupdate {
    margin:30px;
}

input#search {
width:120px;

}

#alto {
width:100%;
height:293px;
}
#searchBox {
    float:left;
    background-color:#FFFFC0;
    width:25%;
    height:auto;
    min-height: 300px;
    border-width: 1px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
/*  padding-bottom: 10px;*/
/*  padding-top: 10px;*/
    border-color: #A52A2A;
    border-style: solid;
}

#chiudi{
position:right;
}

#filterbox{
width:100%;
height:auto;
overflow-y: scroll;
/*overflow-x: scroll;*/
border:1px solid;
padding: 5px;

}

#preview {
    float:right;
    background-color:#FFFFFF;
    width:70%;
/*
    height:100%;
*/
    border-width: 1px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-color: #A52A2A;
    border-style: solid;
    overflow-y: scroll;
/*  overflow-x: scroll;*/
}

#daoaddedit {
    float:right;
    background-color:#FFFFFF;
    width:70%;
/*
    height:270px;
*/
    border-width: 1px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-color: #A52A2A;
    border-style: solid;
    overflow-y: scroll;
/*  overflow-x: scroll;*/
}




table#anagrafiche {

    width:98%;
/*    border-color:red;*/
/*  border-style: solid;*/
/*  border-width: 1px;*/
    text-align:center;
}

#nav {text-align:center;
    height:100%;}

.order_by_name {
    width:100px;
    margin-left:130px;
}

.order_by_active {
    float:right;
    width:100px;
    margin-right:15px;
}

.order_by_data {
    width:80px;
    margin-left:20px;
}



    table { width: 100%; }

    td.left {text-align: left;}

    td.odd-detail {
        text-align: left;
        color :black;
        border-bottom : 1px solid #c0c0c0;
    }

    td.even-detail { text-align: left;
                    color :black;
                    background: #efefef;
                    border-bottom : 1px solid #FFFFFF;
    }

    td.odd-number {
        text-align: right;
        color :black;
        border-bottom : 1px solid #c0c0c0;
    }

    td.even-number {
        text-align: right;
        color :black;
        background: #efefef;
    }

    tr.even-detail {
        text-align: left;
        color :black;
        border : 1px solid #000000;
    }

    th {
        padding-left: 0px;
        font-weight: normal;
/*         font-style: italic; */
        font-size: 1.1em;
    }

/*     th.left {font-weight: normal;} */

    li {
        padding-left: 4px;
    }

    .table-header {
            color: #000000;
/*            font-weight : bold;*/
            border-width: 1px 0px 1px 0px;
            border-style: solid;
            border-color: #777777;
            padding: 0px;
            margin: 0px;
            font-size: 1.1em;
        background : #FFFFC0;
    }
    .header {
/*         font-style: italic; */
        color: black;
        border-width: 1px 0px 1px 0px;
        border-style: solid;
        border-color: black;
        padding: 4px;
        margin: 4px;
        font-size: 1.1em;
    }

    .report-header {
/*         text-align: left; */
        color :black;
        font-size: 1.1em;
    }

    .totale-number {
        padding-top: 6px;
        margin-top: 0px;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
        border-color: black;
        text-align: right;
    }

    .totale-detail {
        padding-top: 6px;
        margin-top: 0px;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
        border-color: black;
        text-align: left;
    }


    td.number {
        text-align: right;
    }
    td.img{
/*     border-width: 2px; */

}
    th.number {
        text-align: right;
    }
