
#content #table #rigatabella #no {
	width: 20px;
	float: left;
	height: 59px;
	clear: inherit;
	margin-left: 12%;
}
.no {
	background-attachment: scroll;
	background-image: url(promogest_img/immagini/no_2.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 28px;
	width: 10%;
}
.si {
	background-attachment: scroll;
	background-image: url(promogest_img/immagini/si_2.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 28px;
	width: 10%;
}
.descrizionediv {
	font-family: Arial, Helvetica, sans-serif;
	color: #006699;
	font-size: 15px;
	font-weight: bolder;
	line-height: normal;
	text-transform: capitalize;
	text-decoration: none;
	position: relative;
	top: 21px;
	font-style: normal;
	font-variant: normal;
	left: 0;
	width: 95%;
	padding-left: 5px;
}
#content #titolicenter {
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}



#content #icona1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #F90;
	width: 15%;
	float: left;
	position: relative;
	top: 15px;
	left: 0;
	text-align: center;
}

#content #titolicenter #icona2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #F90;
	float: left;
	width: 15%;
	text-align: center;
	position: relative;
	top: 15px;
}
#content #titolicenter #icona3 {
	width: 80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #FFFFFF;
	float: left;
	background-attachment: scroll;
	background-image: url(Immagini_global/ico_pg2_lite.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 50px;
}
#content #titolicenter #icona4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #FFFFFF;
	float: left;
	width: 80px;
	background-attachment: scroll;
	background-image: url(Immagini_global/ico_pg2.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 50px;
}
#content #titolicenter #icona5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #F90;
	float: left;
	width: 36%;
	text-align: center;
	position: relative;
	top: 15px;
	padding-right: 10px;
}
#content #tablecenter {
	height: 60px;
	margin-right: 10px;
	margin-left: 15px;
	margin-top: 15px;
}

div {
	color: #999;
}
strong {
	color: #000;
}
#content #tablecenter #CollapsiblePanel1 .CollapsiblePanelTab #bullfine {
	height: 59px;
	width: 9px;
	float: right;
	position: relative;
	top: 3px;
	left: 3px;
	background-attachment: scroll;
	background-image: url(Immagini_global/span_table_moduli%20%5Bbulldx%5D.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}
#content #tablecenter #CollapsiblePanel1 .CollapsiblePanelTab #dettagli {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #369;
	width: 10%;
	float: right;
	position: relative;
	top: 22px;
	margin-right: 35px;
	font-style: normal;
	line-height: normal;
	font-variant: normal;
	text-align: center;
}
#content #tablecenter #CollapsiblePanel1 .CollapsiblePanelTab #prezzo {
	float: right;
	height: auto;
	width: 10%;
	position: relative;
	top: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	font-variant: normal;
	text-transform: uppercase;
	color: #F90;
	margin-right: 30px;
}
.no {
	background-attachment: scroll;
	background-image: url(promogest_img/immagini/no_2.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 25px;
	width: 48px;
	float: right;
	margin-right: 40px;
	position: relative;
	top: 18px;
}
.si {
	background-attachment: scroll;
	background-image: url(promogest_img/immagini/si_2.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
	height: 25px;
	width: 48px;
	position: relative;
	margin-right: 27px;
	top: 18px;
}
#content #tablecenter #CollapsiblePanel1 .CollapsiblePanelTab #descrizionemodulo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	color: #369;
	text-transform: capitalize;
	font-style: normal;
	width: 27%;
	position: relative;
	top: -28px;
	float: left;
	clear: left;
	left: 55px;
	text-align: right;
}
#content #tablecenter #CollapsiblePanel1 .CollapsiblePanelTab #iconamod {
	height: 48px;
	width: 48px;
	float: left;
	background-attachment: scroll;
	background-image: url(Immagini_global/wear.png);
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	left: 5px;
	top: 5px;
}


#content #tablecenter #CollapsiblePanel1 .CollapsiblePanelTab #bullinizio {
	background-attachment: scroll;
	background-image: url(Immagini_global/span_table_moduli%20%5Bbullsx%5D.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 60px;
	width: 10px;
	position: absolute;
	left: 15px;
	top: 101px;
}
