{% extends 'index.html' %}
{% block body %}<br>

<table>
<tbody>
    <tr>
        <th>{{ _("Codice") }}</th>
        <th>{{ _("Descrizione") }}</th>
        <th>{{ _("IVA") }}</th>
        <th>{{ _("Famiglia") }}</th>
        <th>{{ _("Categoria") }}</th>
        <th>{{ _("UB") }}</th>
        <th>{{ _("Produttore") }}</th>
    </tr>
    {% for dao in pageData["objects"] %}
    <tr class="row">
    <td class="detail">{{dao.codice}}</td>
    <td class="detail">{{dao.denominazione}}</td>
    <td class="detail">{{utils.mN(dao.percentuale_aliquota_iva,0)}}%</td>
    <td class="detail">{{dao.denominazione_famiglia}}</td>
    <td class="detail">{{dao.denominazione_categoria}}</td>
    <td class="detail">{{dao.denominazione_unita_base}}</td>
    <td class="detail">{{dao.produttore}}</td>
    </tr>{% endfor %}
</tbody>
</table>

{% endblock %}
