{% extends 'index.html' %}
{% block body %}<br>

<table>
<tbody>
    <tr>
        <th>Codice</th>
        <th>Descrizione</th>
        <th>IVA</th>
        <th>Famiglia</th>
        <th>Categoria</th>
        <th>UB</th>
        <th>Produttore</th>
    </tr>
    {% for dao in pageData["objects"] %}
    <tr class="row">
    <td class="detail">{{dao.codice}}</td>
    <td class="detail">{{dao.denominazione}}</td>
    <td class="detail">{{utils.mN(dao.percentuale_aliquota_iva,0)}}%</td>
    <td class="detail">{{dao.denominazione_famiglia}}</td>
    <td class="detail">{{dao.denominazione_categoria}}</td>
    <td class="detail">{{dao.denominazione_unita_base}}</td>
    <td class="detail">{{dao.produttore}}</td>
    </tr>{% endfor %}
</tbody>
</table>

{% endblock %}
