{% extends 'index.html' %}
{% block body %}

<div class="row">

     <div class="col-xs-12 col-md-12">
         <h3>Anagrafica Articoli</h3>
<div class="table">
  <table class="table  table-bordered table-striped table-condensed">
   <tr>
        <th>{{ _("Codice") }}</th>
        <th>{{ _("Descrizione") }}</th>
        <th>{{ _("IVA") }}</th>
        <th>{{ _("Famiglia") }}</th>
        <th>{{ _("Categoria") }}</th>
        <th>{{ _("UB") }}</th>
        <th>{{ _("Produttore") }}</th>
    </tr>
    {% for dao in pageData["objects"] %}
    <tr>
    <td>{{dao.codice}}</td>
    <td>{{dao.denominazione.decode("utf-8","ignore")}}</td>
    <td>{{utils.mN(dao.percentuale_aliquota_iva,0)}}%</td>
    <td>{{dao.denominazione_famiglia}}</td>
    <td>{{dao.denominazione_categoria}}</td>
    <td>{{dao.denominazione_unita_base}}</td>
    <td>{{dao.produttore}}</td>
    </tr>
      {% endfor %}
  </table>
</div>
         </div></div>


{% endblock %}
