{% extends 'index.html' %}
{% block body %}
<div class="row">

     <div class="col-xs-12 col-md-12">
         <h3>Anagrafica Articoli</h3>
<div class="table">
  <table class="table table-bordered table-striped table-condensed">
   <tr>
                <th>Codice</th>
                <th>Rag.Sociale</th>
                <!--<th>Cognome/Nome</th>-->
                <th>Indirizzo</th>
                <th>Località</th>
                <th>Provincia</th>
                <th>CAP</th>
            </tr>
           {% for dao in pageData["objects"] %}
            <tr>
                <td>{{dao.codice}}</td>
                <td>{{dao.ragione_sociale}}</td>
                <!--<td>{#{( dao.cognome or '' ) + ( dao.nome or '')}#}</td>-->
                <td>{{dao.sede_operativa_indirizzo}}</td>
                <td>{{dao.sede_operativa_localita}}</td>
                <td>{{dao.sede_operativa_provincia}}</td>
                <td>{{dao.sede_operativa_cap}}</td>
            </tr>
            {% endfor %}
  </table>
</div>
         </div></div>
{% endblock %}
