{% extends 'index.html' %}
{% block body %}
        <table cellpadding="0" cellspacing="3" border="0">
            <tr>
                <th>Codice</th>
                <th>Rag.Sociale</th>
                <th>Cognome/Nome</th>
                <th>Indirizzo</th>
                <th>Località</th>
                <th>Provincia</th>
                <th>CAP</th>
            </tr>
            {% for dao in pageData["objects"] %}
            <tr class="row">
                <td class="detail">{{dao.codice}}</td>
                <td class="detail">{{dao.ragione_sociale}}</td>
                <td class="detail">{{(dao.cognome or "") + (dao.nome or "")}}</td>
                <td class="detail">{{dao.sede_operativa_indirizzo}}</td>
                <td class="detail">{{dao.sede_operativa_localita}}</td>
                <td class="detail">{{dao.sede_operativa_provincia}}</td>
                <td class="detail">{{dao.sede_operativa_cap}}</td>
            </tr>
             {% endfor %}
        </table>
{% endblock %}
