{% extends 'index.html' %}
{% block body %}
{% for dao in pageData["objects"] %}
<!--
        <div >
-->
        <table cellpadding="0" cellspacing="4" border="0">
            <tr>
                <td style="width:320px;">Art: <strong>{{dao.articolo}}</strong></td>
                <td style="width:150px;">Listino: <strong>{{dao.denominazione}}</strong></td>
                <td style="width:150px;">Data: {{utils.dateToString(dao.data_listino_articolo)}}</td>
                <td style="width:70px;" >Pr in.: {{utils.mNLC(dao.prezzo_ingrosso,2)}}</td>
                <td style="width:70px;" >Pr dett.: {{utils.mNLC(dao.prezzo_dettaglio,2)}}</td>
            </tr>
        </table>
<!--
        <hr />
-->
<!--
        </div>
-->
    {% endfor %}
{% endblock %}
