{% extends 'index.html' %}
{% block body %}
{% for dao in objects %}
        <div >
        <table cellpadding="0" cellspacing="4" border="0">
            <tr>
                <td><h3>Articolo: <strong>{{dao.articolo}}</strong></h3></td>
                <td><h3>Listino: <strong>{{dao.denominazione}}</strong></h3></td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="3" border="0">
            <tr>
                <th class="left">Data prezzo</th>
                <th class="number">Ultimo costo</th>
                <th class="number">Ultimo costo iva.</th>
                <th class="number">Prezzo det. iva</th>
                <th class="number">% ric. det.</th>
                <th class="number">Prezzo ingr.</th>
                <th class="number">% ric. ingr.</th>

            </tr>
            <tr>
                <td>{{utils.dateToString(dao.data_listino_articolo)}}</td>
                <td class="number"> {{dao.ultimo_costo}}</td>
                <td class="number">{{environment.conf.number_format % utils.calcolaPrezzoIva(dao.ultimo_costo,dao.percentuale_iva)}}</td>
                <td class="number">{{dao.prezzo_dettaglio}}</td>
                <td class="number">{{environment.conf.number_format % utils.calcolaRicarico(dao.ultimo_costo,dao.prezzo_dettaglio,dao.percentuale_iva)}}</td>
                <td class="number">{{dao.prezzo_ingrosso}}</td>
                <td class="number">{{environment.conf.number_format % utils.calcolaRicarico(dao.ultimo_costo,dao.prezzo_ingrosso)}}</td>
            </tr>
        </table>
        <hr />
        </div>
    {% endfor %}
{% endblock %}