{% extends 'index.html' %}
{% block body %}
        <table cellpadding="0" cellspacing="3" border="0">
            <tr>
                <th>Listino</th>
                <th>Descrizione</th>
                <th>Data listino</th>
            </tr>
            <tr><td colspan="3"><hr /></td></tr>
            {% for dao in pageData["objects"] %}
            <tr class="row">
                <td class="detail">{{dao.denominazione}}</td>
                <td class="detail">{{dao.descrizione}}</td>
                <td class="detail">{{utils.dateToString(dao.data_listino)}}</td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}
