{% extends 'index.html' %}
{% block body %}
{% for grouper, daos in pageData["objects"]|groupby('denominazione') %}
<div class="row">

     <div class="col-xs-12 col-md-12">
         <h3>{{ datetime.now()|dateformat }} - {{grouper}} </h3>

         <div class="table">
  <table class="table  table-bordered table-striped table-condensed">
{% for dao in daos %}
            <tr>
                <td>{{dao.codice_articolo}}</td>
                <td>{{dao.articolo}}</td>
                <td><p class="text-center">{{utils.dateToString(dao.data_listino_articolo)}}</p></td>
                <td><p class="text-right">IN: {{utils.mNLC(dao.prezzo_ingrosso,2)}}</p></td>
                <td><p class="text-right">DE: {{utils.mNLC(dao.prezzo_dettaglio,2)}}</p></td>
<!--
                <td style="width:100px;font-size:11px;" >Ult Costo.: {{utils.mNLC(dao.ultimo_costo,2)}}</td>
-->
            </tr>
    {% endfor %}
        </table>
</div>

</div>
         </div>
             {% endfor %}
{% endblock %}
