{% extends 'index.html' %}
{% block body %}
{% for dao in pageData["objects"] %}
        <div >
        <table cellpadding="0" cellspacing="4" border="0">
            <tr>
                <td colspan="2"><h3>Numero: <strong>{{dao.numero}} / {{dao.parte|nonone}}</strong></h3></td>
                <td colspan="2"><h3>Data movimento: <strong>{{utils.dateTimeToString(dao.data_movimento)}}</strong></h3></td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="3" border="0">
            <tr>
                <th class="left">Magazzino</th>
                <th class="left">Codice Art.</th>
                <th class="left">Articolo</th>
                <th class="number">Iva (%)</th>
                <th class="number">Quantita'</th>
                <th class="number">Prezzo netto</th>
                <th class="number">Totale</th>
            </tr>
                {% for riga in dao.righe %}
            <tr >
                <td>{{riga.magazzino[:20]}}</td>
                <td>{{riga.codice_articolo}}</td>
                <td>{{riga.descrizione[:20]}}</td>
                <td class="number">{{utils.number_format() % riga.percentuale_iva}}</td>
                <td class="number">{{utils.number_format() % ( riga.quantita * riga.moltiplicatore )}}</td>
                <td class="number">{{utils.number_format() % riga.valore_unitario_netto}}</td>
                <td class="number">{{utils.number_format() % ( riga.quantita * riga.moltiplicatore * riga.valore_unitario_netto )}}</td>
            </tr>
                {% endfor %}
        </table>
        <hr />
{% endfor %}

        </div>
{% endblock %}
