{% extends 'index.html' %}
{% block body %}
        <table cellpadding="0" cellspacing="3" border="0">
            <tr>
                <th>Multiplo</th>
                <th>Unità base</th>
                <th>Descrizione breve</th>
                <th>Moltiplicatore</th>
            </tr>
            <tr><td colspan="4"><hr /></td></tr>
            {% for dao in objects %}
            <tr class="row">
                <td class="detail">{{dao.denominazione}}</td>
                <td class="detail">{{dao.unita_base}}</td>
                <td class="detail">{{dao.denominazione_breve}}</td>
                <td class="detail">{{dao.moltiplicatore}}</td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}