{% extends 'index.html' %}
{% block body %}<br>
{% for dao in pageData["objects"] %}
<div class="row">
     <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
              <div class="panel-heading"><h3>N° {{dao.numero}} del  {{utils.dateToString(dao.data_inizio)}}</h></div>
  <div class="panel-body">

    {% if dao.righeprimanota|length >1 %}
      <div class="col-sm-6"><span class="label label-default">Descrizione</span><h4 style="display:inline;"> {{dao.note|nonone}}</h4></div>
    {% endif %}
      <div class="clearfix"></div>
                <!--<div class="panel panel-primary">-->
            <!--<div class="panel-heading">-->
              <!--<h3 class="panel-title">Operazioni&nbsp;&nbsp; ({#{dao.righeprimanota|length}#})</h3>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
<div class="table-responsive">
  <table class="table  table-bordered table-striped table-condensed">
   <tr>
        <th><b>DESCRIZIONE</b></th>
        <th><b>VALORE</b></th>
        <th><b>TIPO</b></th>
        <th><b>RIF.</b></th>
        <th><b>NOTE</b></th>
    </tr>
        {% for riga in dao.righeprimanota %}
        <tr>
            <td>{{riga.denominazione|replace("\\n"," ")}}</td>
            {% if riga.segno =="entrata" %}
                <td style="color:green;">{{utils.mNLC(riga.valore,2)}}</td>
            {% elif riga.segno =="uscita" %}
            <td style="color:red;">-{{utils.mNLC(riga.valore,2)}}</td>
            {% endif %}
            {% if riga.tipo == "banca" %}
            <td style="color:blue;">{{(riga.tipo)}}</td>
            {% elif riga.tipo == "cassa" %}
        	<td style="color:orange;">{{riga.tipo}}</td>
            {% else %}
        	<td style="color:brown;">{{riga.tipo}}</td>
            {% endif %}
			<td>{{riga.banca[0:30]}}</td>
			<td>{{ riga.note_primanota|nonone }}</td>
        </tr>
        {% endfor %}
  </table>
</div>
        {% if dao.righeprimanota|length==1 %}
           <div class="col-sm-12"><span class="label label-default">Note</span><h4 style="display:inline;"> {{dao.note|nonone}}</h4></div>
        {% endif %}
            <!--</div>-->
  <!--</div>-->
      </div>
        </div>
     </div>
</div>
{% endfor %}
{% set tot = utils.calcolaTotaliPrimeNote(pageData["objects"]) %}
       <div class="col-sm-6">
       <div class="panel panel-warning">
      	  <div class="panel-heading">
      			<h3 class="panel-title">CASSA</h3>
      	  </div>
      	  <div class="panel-body">
      			        <div class="col-sm-12"><span class="label label-success">ENTRATE</span><h4 style="display:inline;"><strong> {{utils.mNLC(tot["tot_entrate_cassa"],2)}}</strong></h4></div>
                      <div class="col-sm-12"><span class="label label-danger">USCITE</span><h4 style="display:inline;"><strong> {{utils.mNLC(tot["tot_uscite_cassa"],2)}}</strong></h4></div>
              <div class="col-sm-12"><span class="label label-warning">SALDO</span><h4 style="display:inline;"><strong> {{utils.mNLC(tot["saldo_cassa"],2)}}</strong></h4></div>
      	  </div>
      </div></div>

       <div class="col-sm-6">
       <div class="panel panel-info">
      	  <div class="panel-heading">
      			<h3 class="panel-title">BANCA</h3>
      	  </div>
      	  <div class="panel-body">
      			        <div class="col-sm-12"><span class="label label-success">ENTRATE</span><h4 style="display:inline;"><strong> {{utils.mNLC(tot["tot_entrate_banca"],2)}}</strong></h4></div>
                      <div class="col-sm-12"><span class="label label-danger">USCITE</span><h4 style="display:inline;"><strong> {{utils.mNLC(tot["tot_uscite_banca"],2)}}</strong></h4></div>
              <div class="col-sm-12"><span class="label label-warning">SALDO</span><h4 style="display:inline;"><strong> {{utils.mNLC(tot["saldo_banca"],2)}}</strong></h4></div>
      	  </div>
      </div></div>






        {% for k,v in tot["tot_entrate_per_banche"].iteritems() %}
           <div class="col-sm-4">
       <div class="panel panel-default">
      	  <div class="panel-heading">
      			<h3 class="panel-title">{{ utils.getDenominazioneBanca(k) }}</h3>
      	  </div>
      	  <div class="panel-body">
      			        <div class="col-sm-12"><span class="label label-success">ENTRATE</span><h4 style="display:inline;"><strong> {{ utils.mNLC(v, 2) }}</strong></h4></div>
                      <div class="col-sm-12"><span class="label label-danger">USCITE</span>
          <h4 style="display:inline;"><strong> {{utils.mNLC(tot["tot_uscite_per_banche"][k],2)}}</strong></h4></div>

                            <div class="col-sm-12"><span class="label label-warning">SALDO</span><h4 style="display:inline;"><strong> {{ utils.mNLC(v+(tot["tot_uscite_per_banche"][k] or 0), 2) }}</strong></h4></div>



      	  </div>
      </div></div>

        {% endfor %}

{% if utils.setconf("PrimaNota", "saldi_periodo") %}
{% set tot_init = utils.calcolaSaldoPeriodoPrimaNota() %}

{% if utils.getDataFiltroPrimaNota() != '' %}
        {% if tot_init["saldo_cassa"] > 0 %}
<tr>
        <td style="width:120px;"><b>SALDO DI CASSA DAL 01/01</b></td>
        <td style="color:green;width:90px;text-align:right;font-size:12px"> {{utils.mNLC(tot_init["saldo_cassa"],2)}}</td>
</tr>
        {% else %}
<tr>
        <td style="width:120px;"><b>SALDO DI CASSA DAL 01/01</b></td>
        <td style="color:red;width:90px;text-align:right;font-size:12px"> {{utils.mNLC(tot_init["saldo_cassa"],2)}}</td>
</tr>
         {% endif %}
        {% if tot_init["saldo_banca"] > 0 %}
<tr>
        <td style="width:120px;"><b>SALDO DI BANCA DAL 01/01</b></td>
        <td style="color:green;width:90px;text-align:right;font-size:12px"> {{utils.mNLC(tot_init["saldo_banca"],2)}}</td>
</tr>
        {% else %}
<tr>
        <td style="width:120px;"><b>SALDO DI BANCA DAL 01/01</b></td>
        <td style="color:red;width:90px;text-align:right;font-size:12px"> {{utils.mNLC(tot_init["saldo_banca"],2)}}</td>
</tr>
         {% endif %}
{% endif %}
{% endif %}
</table>
{% endblock %}
