{% extends 'index.html' %}
{% block body %}
        <table cellpadding="0" cellspacing="4" border="0">
            <tr>
                <th>Data scadenza</th>
                <th>Data inserimento</th>
                <th>Oggetto</th>
                <th>Incaricato</th>
                <th>Autore</th>
                <th>Completato</th>
                <th>Scaduto</th>
                <th>In scadenza</th>
                <th>Riferimento</th>
            </tr>
            <tr><td colspan="9"><hr /></td></tr>
            {% for dao in objects %}
            <tr class="row">
                <td class="detail">{{utils.dateTimeToString(dao.data_scadenza)}}</td>
                <td class="detail">{{utils.dateTimeToString(dao.data_inserimento)}}</td>
                <td class="detail">{{dao.oggetto}}</td>
                <td class="detail">{{dao.incaricato}}</td>
                <td class="detail">{{dao.autore}}</td>
                <td class="detail">{{dao.completato}}</td>
                <td class="detail">{{dao.scaduto}}</td>
                <td class="detail">{{dao.in_scadenza}}</td>
                <td class="detail">{{dao.riferimento}}</td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}