{% extends 'index.html' %}
{% block body %}
        <p style="text-align: center; font-size:12px;"> Riepilogo movimenti di spedizione </p>
        <table cellpadding="5" cellspacing="5" border="0">
            <tr style="">
                <th style="width:5%;">N.</th>
                <th style="width:10%;">SPEDIZIONE</th>
                <th style="width:40%;" class="detail">MATERIALE SPEDITO</th>
                <th style="width:15%;" class="detail">QUANTITA'</th>
                <th style="width:10%;" class="detail">NUMERO COLLI</th>
                <th style="width:20%;" class="detail">RIF. ORDINE</th>
            </tr>
           {% for dao in pageData["objects"] %}
               {% for riga in dao.righe %}
                <tr style="" class="row">
                    <td style="text-align:center;font-size:10px;">{{dao.numero}}</td>
                    <td style="text-align:center;font-size:10px;">{{dao.fine_trasporto|dateformat}}</td>
                    <td style="text-align:center;font-size:10px;">{{riga.descrizione}}</td>
                    <td style="text-align:center;font-size:10px;">{{riga.quantita}} {{riga.unita_base}}</td>
                    <td style="text-align:center;font-size:10px;">{{dao.totale_colli}}</td>
                    <td style="text-align:center;font-size:10px;">{{dao._padre.operazione}} N.{{dao._padre.numero}} del {{dao._padre.data_documento|dateformat}}</td>
                </tr>
                {% endfor %}
            {% endfor %}
            </table>
{% endblock %}
