<style>

    body {
        background-color: white;
        font-family: monospace;
    }

    table {
        width: 98%;
    }

    tr.row {
        border-bottom : 1px solid black;
    }

    td {
        padding-left: 4px;
    }

    td.detail {
        padding-left: 2px;

    }

    td.left {
        text-align: left;
    }

    th {
        background : #c0c0c0;
        color : #000000;
        padding-left: 4px;
        font-weight: normal;
        font-style: normal;
        font-size: 1.1em;
        padding: 4px;

    }

    th.left {
        font-weight: normal;
    }

    li {
        padding-left: 4px;
        list-style: square;
    }

    .header {
        font-style: italic;
        border-width: 1px 0px 1px 0px;
        border-style: solid;
        border-color: black;
        padding: 4px;
        margin: 4px;
        font-size: 1.2em;
    }

    .totale {
        padding-top: 6px;
        margin-top: 6px;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
        border-color: black;
    }

    td.number {
        text-align: right;
    }

    th.number {
        text-align: right;
    }
    #container {
    width: auto;
}

#container #footer {
    background-image: url("gui/bkg_footer.png");
    background-repeat: repeat;
    position: relative;
    width: auto;
    font-family: Arial;
    font-size: 10px;
    color: #333333;
    height: 21px;
}
#container #rigaheader {
    background-image: url("gui/bkg_footer.png");
    background-repeat: repeat;
    position: relative;
    width: auto;
    height: 15px;
}
#container #head {
    height: 70px;
}
#container #head #testo {
    position: relative;
    top: -40px;
    left: 80px;
    width: 80%;
    font-family: Arial;
    font-size: 24px;
    color: #666666;
    font-weight: bold;
}
#container #head #img {
    height: 48px;
    width: 48px;
    background-repeat: no-repeat;
    position: relative;
    left: 20px;
    top: 5px;
    padding-top: 10px;
}
</style>
