{% extends 'index.html' %}

{% block body %}
<div id="head">
        <div id="img"><img src= "gui/aliquota_iva48x48.png"></div>
    <div id="testo">{{ui|replace("_"," ")|capitalize()}}</div>
  </div>  <div id="rigaheader"></div>
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="report-header" colspan="2"><h3>Aliquota: <strong>{{dao.denominazione}}</strong></h3></td>
            </tr>
            <tr><td colspan="2" class="table-header">Dati aliquota</td></tr>
            <tr>
                <td class="odd-detail" width="180px">Descrizione</td>
                <td class="odd-detail"><strong>{{dao.denominazione}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail" >Descrizione breve</td>
                <td class="even-detail"><strong>{{dao.denominazione_breve}}</strong></td>
            </tr>
            <tr>
                <td class="odd-detail" >&#037;</td>
                <td class="odd-detail"><strong>{{environment.conf.number_format % dao.percentuale}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">&#037; detrazione</td>
                <td class="even-detail"><strong>{{environment.conf.number_format % dao.percentuale_detrazione}}</strong></td>
            </tr>
            <tr>
                <td class="odd-detail" >Descrizione detrazione</td>
                <td class="odd-detail"><strong>{{dao.descrizione_detrazione}}</strong></td>
            </tr>
            <tr>
            <td class="even-detail" >Tipo Aliquota</td>
            <td class="even-detail"><strong>{{dao.tipo_aliquota_iva.denominazione}}</strong></td>
            </tr>
        </table>
    {% endblock %}
