{% extends 'siteAdmin.html' %}
{% block operation %}

<div id="box">
                <span class="testa"><h1>Anagrafiche</h1></span>
<table id="anagrafiche">
<tr>
	<td><a href="/anagrafiche/articolo/list"><img src="/templates/img/articolo48x48.png" width="48" height="48" alt="" ALIGN=ABSMIDDLE /> Articoli </a></td>
	<td><img src="/templates/img/colore48x48.png" width="48" height="48" alt="" ALIGN=ABSMIDDLE /> Colori </td>
</tr>
<tr>
	<td><a href="/anagrafiche/fornitura/list"><img src="/templates/img/fornitura48x48.png" width="48" height="48" alt="" ALIGN=ABSMIDDLE /> Forniture </a></td>
		<td><img src="/templates/img/taglia48x48.png" width="48" height="48" alt="" ALIGN=ABSMIDDLE /> Taglia </td>
</tr>
<tr>

	<td><a href="/anagrafiche/cliente/list"><img src="/templates/img/cliente48x48.png" width="48" height="48" alt="" ALIGN=ABSMIDDLE /> Clienti </a></td>
		<td><img src="/templates/img/taglia_colore48x48.png" width="48" height="48" alt="" ALIGN=ABSMIDDLE /> Modelli </td>
</tr>
<tr>

	<td><a href="/anagrafiche/fornitore/list"><img src="/templates/img/fornitore48x48.png" width="48" height="48" alt="" ALIGN=ABSMIDDLE /> Fornitore  </a></td>
	<td><img src="/templates/img/gruppo_taglia48x48.png" width="48" height="48" alt=""ALIGN=ABSMIDDLE /> Gruppo Taglia </td>
</tr>
<tr>
	<td><a href="/anagrafiche/vettore/list"><img src="/templates/img/vettore48x48.png" width="48" height="48" alt="" ALIGN=ABSMIDDLE /> Vettore </a></td>
	<td></td>
	</tr>
<tr>
	<td><a href="/anagrafiche/agente/list"><img src="/templates/img/agente48x48.png" width="48" height="48" alt="" ALIGN=ABSMIDDLE /> Agente </a></td>
		<td></td>
</tr>

</table>
        </div>

{%endblock%}
