{% extends 'index.html' %}
{% block body %}
<div class="row">
     <div class="col-xs-12 col-md-12">
         <h4>{{dao.denominazione}}</h4>
<div class="table">
  <table class="table table-bordered table-striped table-condensed">
   <thead>
            <th>Data Inserimento</th>
            <th>Codice</th>
            <th>Denominazione</th>
            <th>Quantita</th>
            <th>Attivo</th>

        </thead>
{% for a in pageData["articoli_kit"] %}
<tr>
<td align="center"width="80px" >{{utils.dateToString(a[1]|nonone)}}</td>
				<td>{{a[2]|nonone}}</td>
				<td>{{a[3]|nonone}}</td>
				<td>{{utils.mN(a[4]|nonone,2)}}</td>
				<td>{{a[5]|nonone}}</td>
</tr>
        {% if pageData["sub_kit"] == True %}
        {% for b in utils.leggiArticolo(a[0].id_articolo_filler)["daoArticolo"].articoli_kit %}
        <tr>
                <td>\______</td>
				<td>{{utils.leggiArticolo(b.id_articolo_filler)["codice"]}}</td>
				<td>{{utils.leggiArticolo(b.id_articolo_filler)["denominazione"]}}</td>
				<td align="right">{{utils.mN(b.quantita|nonone,2)}}</td>
				<td>{{b.attivo|nonone}}</td>
        </tr>
        {% endfor %}
        {% endif %}
{% endfor %}
  </table>
</div>
         </div>
</div>
{% endblock %}

