{% if not environment.web %}
{% extends 'index.html' %}
{% endif %}
{% block body %}
{% if dao %}
<div class="row">
     <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
  <div class="panel-heading"><h3>Cod: {{dao.codice}} - Denom: {{dao.denominazione}}</h3></div>
  <div class="panel-body">
<div class="col-sm-6"><span class="label label-default">Cod Barre</span><p style="display:inline;"><strong> {{dao.codice_a_barre|nonone}}</strong></p></div>
      <div class="col-sm-6"><span class="label label-default">Produttore</span> {{dao.produttore|nonone}}</div>
      <div class="col-sm-6"><span class="label label-default">Famiglia</span> {{dao.denominazione_famiglia|nonone}}</div>
      <div class="col-sm-6"><span class="label label-default">Categoria</span> {{dao.denominazione_categoria|nonone}}</div>
      <div class="col-sm-6"><span class="label label-default">Aliquota IVA</span> {{dao.denominazione_aliquota_iva}}
                    ( {{dao.denominazione_breve_aliquota_iva}})</div>
      <div class="col-sm-6"><span class="label label-default">Unità di misura</span> {{dao.denominazione_unita_base}}</div>
          {% if dao.artima %}
{% for a in dao.artima %}
{% if utils.osname()=="NIX" %}
      <div class="col-xs-6 col-sm-3"><span class="label label-default">Immagine</span> <img class="img-responsive" src="data:image/png;base64,{{a.immagine.data}}"  /></div>
{% else %}
       <div class="col-xs-6 col-sm-3"><span class="label label-default">Immagine</span> <img class="img-responsive" src="{{utils.toTempPng(a.immagine.data)}}" width="100" /></div>
{% endif %}
{% endfor %}
      {% else %}
      <div></div>
{% endif %}
      <div class="col-sm-12"><span class="label label-danger">Giacenza</span><h4 style="display:inline;"><strong> {{dao.getGiacenza()|nonone or 0}}</strong></h4></div>

      <div class="clearfix"></div>
      <div class='col-sm-12'><hr></div>
      <h5>Informazioni listini ed etichette</h5>
      <div class="clearfix"></div>
      <div class="col-sm-6"><span class="label label-success">Descrizione nel listino</span> {{dao.descrizione_listino|nonone}}</div>
      <div class="col-sm-6"><span class="label label-success">Incluso nel listino</span> {{dao.stampa_listino|nonone}}</div>
      <div class="col-sm-6"><span class="label label-success">Codice etichetta</span> {{dao.codice_etichetta|nonone}}</div>
      <div class="col-sm-6"><span class="label label-success">Descrizione etichetta</span> {{dao.descrizione_etichetta|nonone}}</div>
      <div class="col-sm-6"><span class="label label-success">Stampa etichetta</span> {{dao.stampa_etichetta|nonone}}</div>
            <div class="clearfix"></div>
      <div class='col-sm-12'><hr></div>
      <h5>Caratteristiche fisiche</h5>
      <div class="clearfix"></div>

      <div class="col-sm-3"><span class="label label-info">Lunghezza</span> {{dao.lunghezza|nonone}}</div>
      <div class="col-sm-3"><span class="label label-info">Larghezza</span> {{dao.larghezza|nonone}}</div>
      <div class="col-sm-3"><span class="label label-info">Altezza</span> {{dao.altezza|nonone}}</div>
      <div class="col-sm-3"><span class="label label-info">Unita dimensioni</span> {{dao.unita_dimensioni|nonone}}</div>
      <div class="col-sm-3"><span class="label label-info">Volume</span> {{dao.volume|nonone}}</div>
      <div class="col-sm-3"><span class="label label-info">Unità volume</span> {{dao.unita_volume|nonone}}</div>
        <div class="col-sm-3"><span class="label label-info">Peso</span> {{dao.peso_lordo|nonone}}</div>
      <div class="col-sm-3"><span class="label label-info">Unita peso</span> {{dao.unita_peso|nonone}}</div>
            <div class="col-sm-3"><span class="label label-info">Imballaggio</span> {{dao.imballaggio|nonone}}</div>
      <div class="col-sm-3"><span class="label label-info">Imballaggio</span> {{dao.imballaggio|nonone}}</div>
      <div class="col-sm-3"><span class="label label-info">Peso Imballaggio</span> {{dao.peso_imballaggio|nonone}}</div>
            <div class="col-sm-12"><span class="label label-primary">Note</span> {{dao.note|nonone}}</div>
                  <div class="clearfix"></div>
      <div class='col-sm-12'><hr></div>
      <h3>Presente nei listini</h3>
      <div class="clearfix"></div>
      {% for li in utils.getListiniArticolo(dao.id) %}
        {% set tmp = utils.leggiListino(li.id_listino, li.id_articolo) %}
        <div class="col-sm-3">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">{{tmp["denominazione"]}}</h3>
            </div>
            <div class="panel-body"><div class="col-sm-12"><span class="label label-info">Prezzo Dettaglio</span> {{utils.mNLC(tmp["prezzoDettaglio"],2)}}</div>
        <div class="col-sm-12"><span class="label label-info">Prezzo Ingrosso</span> {{utils.mNLC(tmp["prezzoIngrosso"],2)}}</div>
            </div>
          </div>
  </div>
                {% endfor %}

  </div>
        </div>
    </div>
</div>



        <BR /><BR />
{% for anno in pageData["calendarioDatetime"] %}
    <div>
        {% for mese in anno %}
            {% for settimana in mese %}
                {% for giorno in settimana %}
<div>
                        {% for eve in pageData["eventipreves"] %}
                            {% if giorno.toordinal() == eve[0] %}
                                {% if eve[1]["operazione"] =="Ordine da cliente" %}
                                    <b>{{giorno}}</b> --  <span style="color:green;">{{eve[1]["short"]}}</span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% for eve in pageData["eventiprevesAT"] %}
                            {% if eve[1]["operazione"] =="Ordine da cliente" %}
                                {% if eve[0] == giorno.toordinal() %}
                                    <b>{{giorno}}</b> -- <span style="color:red;"> {{eve[1]["short"]}}</span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                {% endfor %}
            </div>{% endfor %}
        {% endfor %}
    </div>
{% endfor %}
</div>
        {% else %}
        <p><img src= "gui/attenzione_48X48.png">ELIMINATO: Niente da visualizzare</p>
        <p><img src= "gui/testata_promogest2.png"></p>
        {% endif %}
{% endblock %}
