{% extends 'index.html' %}

{% block body %}
        <div id="img" ><img src= "{{dao.url_immagine}}"></div>
    <div id="testo">{{ui|replace("_"," ")|capitalize()}}</div>
  </div>  <div id="rigaheader"></div>

<table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td><h3>Articolo: {{dao.codice}}</h3></td>
        <td><h3>Codice a barre principale:{{dao.codice_a_barre}}</h3></td>
            </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0">
<tr><td width="55%">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
		<td colspan="2" class="table-header">Riepilogo</td>
	    </tr>
            <tr>
                <td width="130px" class="odd-detail">Descrizione</td>
                <td class="odd-detail"><strong>{{dao.denominazione}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Produttore</td>
                <td class="even-detail"><strong>{{dao.produttore|nonone}}</strong></td>
            </tr>
            <tr>
                <td class="odd-detail">Famiglia</td>
                <td class="odd-detail"><strong>{{dao.denominazione_famiglia|nonone}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Categoria</td>
                <td class="even-detail"><strong>{{dao.denominazione_categoria|nonone}}</strong></td>
            </tr>
            <tr>
                <td class="odd-detail">Aliquota IVA</td>
                <td class="odd-detail">
                    <strong>{{dao.denominazione_aliquota_iva}}
                    ( {{dao.denominazione_breve_aliquota_iva}})</strong>
                </td>
            </tr>
        </table></td>
<td>
        <table colspan="2" cellpadding="0" cellspacing="0" border="0">
            <tr><td class="table-header" colspan="2">Informazioni listini ed etichette</td></tr>
            <tr>
                <td width="200px" class="odd-detail">Descrizione nel listino</td>
                <td class="odd-detail">
                    <strong>{{dao.descrizione_listino|nonone}}</strong>
                </td>
            </tr>
            <tr>
                <td class="even-detail">Incluso nel listino</td>
                <td class="even-detail">
                    <strong py:if="dao.stampa_listino is True">
                        si
                    </strong>
                    <strong py:if="dao.stampa_listino is False">
                        no
                    </strong>
                    <strong py:if="dao.stampa_listino is None">
                        no
                    </strong>
                </td>
            </tr>
            <tr>
                <td class="odd-detail">Codice etichetta</td>
                <td class="odd-detail">
                    <strong>{{dao.codice_etichetta|nonone}}</strong>
                </td>
            </tr>
            <tr>
                <td class="even-detail">Descrizione etichetta</td>
                <td class="even-detail">
                    <strong>{{dao.descrizione_etichetta|nonone}}</strong>
                </td>
            </tr>
            <tr>
                <td class="odd-detail">Stampa etichetta</td>
                <td class="odd-detail">
                     {{dao.stampa_etichetta|nonone}}
                    {% if dao.stampa_etichetta == "True" %}
                    <strong >si</strong>
                    {% elif dao.stampa_etichetta == "False" or dao.stampa_etichetta == "None" %}
                    <strong>no</strong>
                    {% endif %}
                </td>
            </tr>

        </table>
</td></tr>
</table>
        <table cellpadding="0" cellspacing="0" border="0">
            <tr><td colspan="4" class="table-header">Caratteristiche fisiche</td></tr>
            <tr>
                <td width="20%" class="odd-detail">Unità di misura</td>
                <td width="30%" class="odd-detail"><strong>{{dao.denominazione_unita_base}}</strong></td>

        <td width="20%" class="odd-detail">Dimensioni</td>
                <td width="30%" colspan="2" class="odd-detail">
            <strong>{{dao.lunghezza|nonone}}</strong> x
            <strong>{{dao.larghezza|nonone}}</strong> x
            <strong>{{dao.altezza|nonone}}</strong>
            <strong>{{dao.unita_dimensioni|nonone}}</strong>
        </td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td class="even-detail">Volume</td>
        <td class="even-detail">
            <strong>{{dao.volume|nonone}}</strong>
            <strong>{{dao.unita_volume|nonone}}</strong>
        </td>
                <td class="even-detail">Peso</td>
                <td class="even-detail">
            <strong>{{dao.peso_lordo|nonone}}</strong>
            <strong>{{dao.unita_peso|nonone}}</strong>
        </td>
            </tr>
            <tr>
                <td class="odd-detail">Imballaggio</td>
                <td class="odd-detail"><strong>{{dao.imballaggio|nonone}}</strong></td>
                <td class="odd-detail">Peso imballaggio</td>
                <td class="odd-detail">
        <strong>{{dao.peso_imballaggio|nonone}}</strong>
            <strong>{{dao.unita_peso|nonone}}</strong>
        </td>
            </tr>

    <tr><td colspan="4" class="table-header">Note</td></tr>
            <tr>
                <td class="odd-detail"><strong>{{dao.note|nonone}}</strong>
                </td>
            </tr>
             <tr><td colspan="4" class="table-header"">GIACENZA</td></tr>
            <tr>
                <td class="odd-detail"><strong>{{dao.giacenza|nonone or 0}}</strong>
                </td>
            </tr>
        </table>
        <BR /><BR />
{% for anno in pageData["calendarioDatetime"] %}
    <div>
        {% for mese in anno %}
            {% for settimana in mese %}
                {% for giorno in settimana %}
<div>
                        {% for eve in pageData["eventipreves"] %}
                            {% if giorno.toordinal() == eve[0] %}
                                {% if eve[1]["operazione"] =="Ordine da cliente" %}
                                    <b>{{giorno}}</b> --  <span style="color:green;">{{eve[1]["short"]}}</span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        {% for eve in pageData["eventiprevesAT"] %}
                            {% if eve[1]["operazione"] =="Ordine da cliente" %}
                                {% if eve[0] == giorno.toordinal() %}
                                    <b>{{giorno}}</b> -- <span style="color:red;"> {{eve[1]["short"]}}</span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}

                {% endfor %}
            </div>{% endfor %}
        {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}
