{% extends 'index.html' %}

{% block body %}

        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="report-header" colspan="4"><h3><img src= "gui/cliente48x48.png"> Cliente: <strong>{{dao.ragione_sociale}}</strong></h3></td>
            </tr>
            <tr><td colspan="3" class="table-header">Dati anagrafici</td></tr>
            <tr>
        <td width="140px" class="odd-detail"> Codice </td>
               	<td class="odd-detail"><strong>{{dao.codice}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Ragione sociale</td>
                <td class="even-detail"><strong>{{dao.ragione_sociale}}</strong></td>
            </tr>
            <tr>
                <td class="odd-detail">Cognome</td>
                <td class="odd-detail"><strong>{{dao.cognome}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Nome</td>
                <td class="even-detail"><strong>{{dao.nome}}</strong></td>
            </tr>
            <tr>
                <td class="odd-detail">Codice fiscale</td>
                <td class="odd-detail"><strong>{{dao.codice_fiscale}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Partita IVA</td>
                <td class="even-detail"><strong>{{dao.partita_iva}}</strong></td>
            </tr>
        </table>

<table><tr><td width="50%">

        <table cellpadding="0" cellspacing="0" border="0">
            <tr><td colspan="2" class="table-header">Sede operativa</td>
	    </tr>
            <tr>
                <td width="140px" class="odd-detail">Indirizzo</td>
                <td class="odd-detail"><strong>{{dao.sede_operativa_indirizzo}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Località</td>
                <td class="even-detail"><strong>{{dao.sede_operativa_localita}}</strong></td>
            </tr>
            <tr>
                <td class="odd-detail">Provincia</td>
                <td class="odd-detail"><strong>{{dao.sede_operativa_provincia}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">CAP</td>
                <td class="even-detail"><strong>{{dao.sede_operativa_cap}}</strong></td>

            </tr>
        </table>
</td>
<td width="50%"><table cellpadding="0" cellspacing="0" border="0">
        <tr><td colspan="2" class="table-header">Sede legale</td></tr>
        <tr>
            <td width="140px" class="odd-detail">Indirizzo</td>
            <td class="odd-detail"><strong>{{dao.sede_legale_indirizzo}}</strong></td>
        </tr>
        <tr>
            <td class="even-detail">Località</td>
            <td class="even-detail"><strong>{{dao.sede_legale_localita}}</strong></td>
        </tr>
        <tr>
            <td class="odd-detail">Provincia</td>
            <td class="odd-detail"><strong>{{dao.sede_legale_provincia}}</strong></td>
        </tr>
        <tr>
            <td class="even-detail">CAP</td>
            <td class="even-detail"><strong>{{dao.sede_legale_cap}}</strong></td>
        </tr>
    </table>
</td></tr>
</table>
{% endblock %}
