{% extends 'mainsite/index.html' %}

{% block center %}
<div id="contentss">
       <div><br />
                <h2>Per <b>acquistare</b> il <strong>PromoGest2</strong>, avere <b>informazioni commerciali sui nostri servizi e prodotti</b><br/> o
                <b>assistenza su un prodotto acquistato</b>,<br/> potete contattare <b>PromoTux Informatica S.n.c.</b>
                a questi recapiti oppure usare il form di contatto qui sotto:</h2>
                <p id="company"><strong>PromoTux S.n.c.</strong><br/>
                Via Gorizia, 3<br/>
                Selargius (CA)<br/>
                tel: 895 6060615 fax: 070 7731188<br/>
                e-mail: <a href="mailto:info@promotux.it" title="Invia una mail">info@promotux.it</a><br/>
                web: <a href="http://www.promotux.it" title="Visita il sito Promotux">www.promotux.it</a></p>
{% if pageData['sent'] =="False"%}
<fieldset>
            <span class="testa"><h2>Contatti</h2></span>
            <hr></hr>
    <form method="post" action="/contacts">
    <input type="hidden" name="string" value="{{pageData['string']}}"/>
    <table border="0" cellpadding="0" cellspacing="2" id="contacts">
    <tr><td class="contacts-left">Nome*:</td>
    <td class="contacts-right"><input type="text" name="name" size="30" maxlength="50" class="contacts" /></td></tr>
    <tr><td class="contacts-left">Cognome*:</td>
    <td class="contacts-right"><input type="text" name="lastname" size="30" maxlength="50" class="contacts" /></td></tr>
    <tr><td class="contacts-left">Azienda:</td>
    <td class="contacts-right"><input type="text" name="company" size="30" maxlength="50" class="contacts" /></td></tr>
    <tr><td class="contacts-left">Indirizzo:</td>
    <td class="contacts-right"><input type="text" name="address" size="30" maxlength="100" class="contacts" /></td></tr>
    <tr><td class="contacts-left">Città:</td>
    <td class="contacts-right"><input type="text" name="city" size="30" maxlength="50" class="contacts" /></td></tr>
    <tr><td class="contacts-left">Telefono:</td>
    <td class="contacts-right"><input type="text" name="telephone" size="20" maxlength="30" class="contacts" /></td></tr>
    <tr><td class="contacts-left">E-mail*:</td>
    <td class="contacts-right"><input type="text" name="email" size="30" maxlength="50" class="contacts" /></td></tr>
    <tr><td class="contacts-left">Perchè vi stiamo contattando:</td>
    <td class="contacts-right">
    <select name="oggetto">
<!--    <option value="Iscrizione">Iscrizione al sito</option>-->
    <option value="Informazioni">Richiesta informazioni</option>
    <option value="Affiliazione">Affiliazione</option>
    <option value="Altro">Altro</option>
    </select>
    </td></tr>

    <tr><td class="contacts-left">Messaggio*:</td>
    <td class="contacts-right"><textarea name="body" rows="6" cols="50"></textarea><br/><br/></td></tr>
    <tr><td class="contacts-left">Inserisci lettere e numeri che vedi <br/>( rispetta le maiuscole):<br/><br/>
    <img src="/templates/captcha.png?{{pageData['string']}}"></td>
    <td class="contacts-right"><input type="text" name="captcha" size="20" maxlength="30" class="contacts" />
    </td></tr>
    <tr><td class="contacts-center"><input type="submit" value="Invia" class="submit" /></td>
    <td class="contacts-center"><input type="reset" value="Azzera campi" class="submit" /></td></tr>
    </table>
    </form>
    <div class="row thin lineTop center">
        <span><p>Tutti i campi contrassegnati con il simbolo (*) devono essere compilati obbligatoriamente.</p></span>
    </div>
<div class="trattamento"><p>Compilando questo modulo vi autorizzo al trattamento dei dati ai sensi della Legge 196/03.<br/>
            <b>Promotux S.n.c</b>, dichiara che: nel pieno rispetto della legge per la tutela dei dati personali, i dati forniti tramite il presente modulo non saranno divulgati in nessun modo senza la Sua preventiva, esplicita e scritta autorizzazione.<br/>
            Titolare e responsabile dei dati raccolti &#232; la <b>PromoTux S.n.c.</b> Via gorizia 3 - 09047 Selargius CA - tel +39 070 8649705</p></div>
</fieldset>
    {% else %}
    <h2> Email inviata grazie </h2>
    {% endif %}
    </div>
{% endblock %}
