{% if not environment.web %}
{% extends 'index.html' %}
{% endif %}

{% block body %}
    {% if dao %}
    {% set toota = dao.totali %}
    <table>
        <tr>
            <td colspan="3" style="font-size:18px;" class="report-header"><h3>Numero: <strong>{{dao.numero}} / {{dao.parte|nonone}}</strong></h3></td>

            <td class="report-header">Tipo: <strong> {{(dao.registro_numerazione).replace("_"," ").capitalize()}}</strong></td>
        </tr>
        <tr>
            <td style="width:100px;" class="even-detail">Operazione</td>
            <td style="font-size:18px;;width:250px;" class="odd-detail">
                <strong> {{dao.operazione}}</strong></td>
            <td class="even-detail">Data documento</td>
            <td class="odd-detail"><strong>{{utils.dateToString(dao.data_documento)}}</strong></td>
        </tr>
        <tr >

                {% if dao.id_cliente %}
                <td class="even-detail">Cliente</td>
            <td colspan="3" style="font-size:16px;" class="odd-detail"><strong>{{dao.CLI.ragione_sociale.decode("utf-8")}}</strong></td>
                {% endif %}
        </tr>
        <tr >

            {% if dao.id_fornitore %}
             <td class="even-detail">Fornitore</td>
                <td colspan="3" style="font-size:16px;" class="odd-detail"><strong>{{dao.FORN.ragione_sociale.decode("utf-8")}}</strong></td>
            {% endif %}
        </tr>
    </table>
    <br />
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td colspan="8" class="table-header">TOTALI DOCUMENTO</td>
                </tr>
                <tr>

                    <td class="even-detail">IMPONIBILE LORDO:</td>
                    <td style="width:70px;" class="odd-detail"><strong>{{utils.mNLC(dao._totaleImponibile,2)}}</strong></td>

                    <td class="even-detail">SCONTO TESTATA DOCUMENTO:</td>
                    <td class="odd-detail"><strong> {{ utils.getStringaSconti(utils.getScontiFromDao(dao.sconti, dao.applicazione_sconti)[0])}}{{ utils.getScontiFromDao(dao.sconti, dao.applicazione_sconti)[1]}}</strong></td>
                    <td class="even-detail">IMPONIBILE:</td>
                    <td style="width:70px;" class="odd-detail"><strong> {{ utils.mNLC(dao._totaleImponibileScontato,2)}}</strong></td>
                    <td class="even-detail">IMPOSTA:</td>
                    <td style="width:70px;" class="odd-detail"><strong>{{ utils.mNLC(dao._totaleImpostaScontata,2)}}</strong></td>
                </tr>
                <tr>
                    <td  class="even-detail">TOTALE:</td>
                    <td colspan="7"class="odd-detail" style="font-size:20px;color:blue;"><strong>{{utils.mNLC(dao._totaleScontato,2)}}</strong></td>
                </tr>
</table>
    <br />
        <table cellpadding="1" cellspacing="3" border="0" >
            <tr >
                <td colspan="20" class="table-header">Dettaglio documento</td>
            </tr>
            <tr>
                <th class="even-detail">N.</th>
                <th class="even-detail">MAGAZZINO</th>
                <th class="even-detail">CODICE ART</th>
                <th class="even-detail" align="center">DESCRIZIONE ARTICOLO</th>
        <th colspan="2" class="even-detail">LISTINO</th>
        <th colspan="2" class="even-number">Prezzo Lordo</th>
                <th colspan="2" class="even-number">Sconto</th>
                        <th colspan="2" class="even-number">Prezzo Netto</th>
        <th colspan="2" class="even-number">Quantita'</th>
                <th colspan="2" class="even-number">M.plo</th>
                <th colspan="2" class="even-number">% Iva</th>
                <th colspan="3" class="even-number">Totale</th>
            </tr>

        {% for riga in dao.righe %}
            <tr >
                <td class="odd-detail">{{loop.index}}</td>
                <td class="odd-detail">{{(riga.magazzino|nonone)[:15]}}</td>
                <td class="odd-detail"><b><a href="program:/articoloId={{riga.id_articolo}}">{{riga.codice_articolo}}</a></b></td>
                <td class="odd-detail">{{riga.descrizione.encode("utf-8").decode("utf-8")|nonone}} {{riga.aggiuntalottoindescrizione}}</td>
                <td class="odd-detail" colspan="2">{{riga.listino}}</td>
                <td class="odd-number" colspan="2">{{utils.mNLC(riga.valore_unitario_lordo,2)}}</td>
                <td class="odd-detail" colspan="2">{{utils.getStringaSconti(utils.getScontiFromDao(riga.sconti)[0])}}</td>
                <td class="odd-number" colspan="2">{{utils.mNLC(riga.valore_unitario_netto,2)}}</td>
                <td class="odd-number" colspan="2" >{{riga.quantita}}</td>
                {% if riga.moltiplicatore > 1 %}
                <td class="odd-number" colspan="2">{{riga.multiplo}} ( {{utils.mN(riga.moltiplicatore,2)}} )</td>
                {% else %}
                <td class="odd-number" colspan="2"></td>
                {% endif %}
                <td class="odd-number" colspan="2">{{riga.percentuale_iva|int}}</td>
                <td class="odd-number" colspan="3"><strong>{{utils.mNLC(( riga.totaleRiga ),2)}}<strong></td>
            </tr>
            {% endfor %}
        </table>

<table>
<tr><td width="50%">
    <table cellpadding="0" cellspacing="0" border="0">
        <tr><td colspan="6" class="table-header">Pagamento </td></tr>
            <tr>
                <td width="140px" class="even-detail">Pagamento</td>
                <td class="odd-detail"><strong>{{dao.pagamento}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Banca</td>
                <td class="odd-detail"><strong>{{dao.banca}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Aliquota esenzione</td>
                <td class="odd-detail"><strong>{{dao.aliquota_iva_esenzione}}</strong></td>
            </tr>
    </table>
</td><td width="50%">
        <table cellpadding="0" cellspacing="0" border="0">
            <tr><td colspan="6" class="table-header">Aspetto beni</td></tr>
            <tr>
                <td width="175px" class="even-detail">Aspetto esteriore beni</td>
                <td class="odd-detail"><strong>{{dao.aspetto_esteriore_beni}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Totale colli</td>
                <td class="odd-detail"><strong>{{dao.totale_colli}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Totale peso</td>
                <td class="odd-detail"><strong>{{dao.totale_peso}}</strong></td>
            </tr>
    </table>
</td></tr>
</table>
    <table cellpadding="0" cellspacing="0" border="0">
        <tr><td colspan="6" class="table-header">Scadenze </td></tr>
        {% for scadenza in dao.scadenze %}
            <tr>
                <td width="140px" class="even-detail">Pagamento</td>
                <td class="odd-detail"><strong>{{ scadenza.pagamento }}</strong></td>
            </tr>
            <tr>
                <td width="140px" class="even-detail">Data</td>
                <td class="odd-detail"><strong>{{ utils.dateToString(scadenza.data) }}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Importo</td>
                <td class="odd-detail"><strong>{{ utils.mNLC(scadenza.importo, 2) }}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Data pagamento</td>
                <td class="odd-detail"><strong>{{ utils.dateToString(scadenza.data_pagamento) }}</strong></td>
            </tr>
       {% endfor %}
    </table>
    <table cellpadding="1" cellspacing="3" border="0">
        <tr><td colspan="15" class="table-header">Totale Contabilita'</td></tr>
        <tr>
            <td class="even-detail" colspan="2">Totale Sospeso</td>
            <td class="odd-detail">
                <strong py:if="conf.hasPagamenti == True">
                    <strong>{{utils.mNLC(dao.totale_sospeso|nonone,2)}}</strong></strong></td>
            <td class="even-detail" colspan="2">Totale Pagato</td>
            <td class="odd-detail">
                <strong py:if="conf.hasPagamenti == True">
                    <strong>{{utils.mNLC(dao.totale_pagato|nonone,2)}}</strong></strong></td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" border="0">
            <tr><td colspan="6" class="table-header">Trasporto</td></tr>
            <tr>
                <td class="even-detail">Incaricato trasporto</td>
                <td class="odd-detail" width="150px"><strong>{{dao.incaricato_trasporto}}</strong></td>
                <td class="even-detail" colspan="2">Vettore</td>
                <td class="odd-detail" colspan="2"><strong>{{dao.ragione_sociale_vettore}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Inizio trasporto</td>
                <td class="odd-detail">
                    <strong py:if="dao.inizio_trasporto is not None">
                        <strong>{{utils.dateTimeToString(dao.inizio_trasporto)}}</strong>
                    </strong>
                </td>
            <td class="even-detail" colspan="2">Fine trasporto</td>
                <td class="odd-detail" colspan="2">
                    <strong py:if="dao.fine_trasporto is not None">
                        <strong>{{utils.dateTimeToString(dao.fine_trasporto)}}</strong>
                    </strong>
                </td>
            </tr>

            <tr>
                <td colspan="6" class="table-header">Destinazione merce</td>
            </tr>
            <tr>
                <td class="even-detail" width="150px">Destinazione</td>
                <td class="odd-detail"><strong>{{dao.DM.denominazione or ""}}</strong></td>
                <td class="even-detail" width="80px">Indirizzo</td>
                <td class="odd-detail" colspan="3"><strong>{{dao.DM.indirizzo or ""}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Localita'</td>
                <td class="odd-detail">
                    <strong>{{dao.DM.localita or ""}}</strong>
                </td>
                <td class="even-detail">CAP</td>
                <td class="odd-detail"><strong>{{dao.DM.cap or ""}}</strong></td>
                <td class="even-detail">Provincia</td>
                <td class="odd-detail" width="50px"><strong>{{dao.DM.provincia}}</strong></td>
            </tr>

        </table>
        <table cellpadding="0" cellspacing="0" border="0">
           <tr>
                <td colspan="2" class="table-header">Note</td>
            </tr>
            <tr>
                <td width="10%" class="even-detail">Note interne</td>
                <td width="88%" class="odd-detail"><strong>{{dao.note_interne}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Note pie' pagina</td>
                <td class="odd-detail"><strong>{{dao.note_pie_pagina}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Causale trasporto</td>
                <td class="odd-detail"><strong>{{dao.causale_trasporto}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Protocollo</td>
                <td class="odd-detail"><strong>{{dao.protocollo}}</strong></td>
            </tr>

                <tr>
                                               <td class="even-detail">TOTALE RICARICATO LORDO:</td>
                    <td style="width:70px;" class="odd-detail"><strong>{{utils.mNLC(dao._totaleRicaricatoLordo,2)}} --
                    ({{utils.mNLC(dao._totaleRicaricatoImponibile,2)}} || {{utils.mNLC(dao._totaleRicaricatoIva,2)}} )
                     </strong></td>
                                </tr>
        </table>
        {% else %}
        <p><img src= "gui/attenzione_48X48.png">ELIMINATO: Niente da visualizzare</p>
        <p><img src= "gui/testata_promogest2.png"></p>
        {% endif %}
{% endblock %}
