<html xmlns:py="http://genshi.edgewall.org/" py:strip=""
      xmlns:xi="http://www.w3.org/2001/XInclude">

<div id="flagss">
<ul>
<li id="flags"><a href="/${pageData['path'][1]}/?lang=it"><img src="/style/common/img/BANDIERA-IT.jpg" alt="bandiera italiana"/></a></li>
<li id="flags"><a href="/${pageData['path'][1]}/?lang=en"><img src="/style/common/img/BANDIERA-UK.jpg" alt="bandiera inglese"/></a></li>
<li id="flags"><a href="/${pageData['path'][1]}/?lang=it"><img src="/style/common/img/BANDIERA-ES.jpg" alt="bandiera spagnola"/></a></li>
<li id="flags"><a href="/${pageData['path'][1]}/?lang=it"><img src="/style/common/img/BANDIERA-FR.jpg" alt="bandiera francese"/></a></li>
<li id="flags"><a href="/${pageData['path'][1]}/?lang=it"><img src="/style/common/img/BANDIERA-DE.jpg" alt="bandiera tedesca"/></a></li>
<li id="flags"><a href="/${pageData['path'][1]}/?lang=it"><img src="/style/common/img/BANDIERA-CI.jpg" alt="bandiera cinese"/></a></li>
</ul>

</div>

</html>