    <div class="spacer"></div>
<div id="siteInfo">
  <div id="siteInfoFoo"></div>
  <div id="footertable">
    <table width="733" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td ><div style="height:2px;"></div></td>
      </tr>
      <tr>
        <td rowspan="2">&nbsp;</td>
        <td colspan="6"><div align="center"><a href="/cms/chi-siamo">Chi Siamo</a> | <a href="/cms/mappa-del-sito">Mappa
          del Sito</a> | <a href="/cms/note-legali">Note Legali</a> | <a href="/contacts">Contatti</a> |<a href="/">&copy; 2009
        PromoTUX Italy Ca</a> </div></td>
        <td rowspan="2"><a href="/"><img src="/templates/promoGest/img/Footer_04.png" alt="home promotux" name="Footer_r1_c8" width="121" height="49" border="0" id="Footer_r1_c8" /></a></td>
        <td rowspan="2">&nbsp;</td>
        <td><img src="/templates/promoGest/img/spacer.gif" alt="footer" name="undefined_4" width="1" height="19" border="0"  /></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><a href="/promoGest"><img src="/templates/promoGest/img/Footer_07.png" alt="home gest" name="Footer_r2_c4" width="89" height="30" border="0" id="Footer_r2_c4" /></a></td>
        <td><a href="/promoWeb"><img src="/templates/promoGest/img/Footer_08.png" alt="home web" name="Footer_r2_c5" width="89" height="30" border="0" id="Footer_r2_c5" /></a></td>
        <td><a href="/promoServ"><img src="/templates/promoGest/img/Footer_09.png" alt="home serv" name="Footer_r2_c6" width="85" height="30" border="0" id="Footer_r2_c6" /></a></td>
        <td>&nbsp;</td>
        <td><img src="/templates/promoGest/img/spacer.gif" alt="" name="undefined_4" width="1" height="1" border="0" /></td>
      </tr>
    </table>
  </div>
</div>

</div>
<!-- <div><a href="http://www.promotux.it">Chi SIamo</a> | <a href="#">Mappadel Sito</a> | <a href="#">Note Legali</a>  | <a href="#">Contatti</a> | <span><a href="#">2009 PromoTUX Italy Ca</a></span></div> -->
