{% if not environment.web %}
{% extends 'index.html' %}
{% endif %}
{% block body %}
<div class="row">
     <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
  <div class="panel-heading"><h3>{{dao.codice}} --- {{dao.ragione_sociale|nonone}} </h3></div>
  <div class="panel-body">
<div class="col-sm-12"><span class="label label-default">Cognome e Nome</span><p style="display:inline;"><strong>  {{dao.cognome|nonone}} {{dao.nome|nonone}}</strong></p></div>
       <div class="col-sm-6"><span class="label label-default">Codice fiscale</span> {{dao.codice_fiscale|nonone}}</div>
       <div class="col-sm-6"><span class="label label-default">Partita IVA</span> {{dao.partita_iva|nonone}}</div>
       <div class="col-sm-12"><span class="label label-default">Categoria</span> {{dao.categoria}}</div>
       <div style="margin-bottom:5px;" class="clearfix"></div>
              <div class="col-sm-6">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Sede operativa</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12"><span class="label label-warning">Indirizzo</span> {{dao.sede_operativa_indirizzo|nonone}}</div>
                <div class="col-sm-12"><span class="label label-warning">Località</span> {{dao.sede_operativa_localita|nonone}}</div>
                <div class="col-sm-9"><span class="label label-warning">Provincia</span> {{dao.sede_operativa_provincia|nonone}}</div>
                <div class="col-sm-3"><span class="label label-warning">CAP</span> {{dao.sede_operativa_cap|nonone}}</div>
            </div>
          </div>
  </div>
              <div class="col-sm-6">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Sede legale</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-12"><span class="label label-warning">Indirizzo</span> {{dao.sede_legale_indirizzo|nonone}}</div>
                <div class="col-sm-12"><span class="label label-warning">Località</span> {{dao.sede_legale_localita|nonone}}</div>
                <div class="col-sm-9"><span class="label label-warning">Provincia</span> {{dao.sede_legale_provincia|nonone}}</div>
                <div class="col-sm-3"><span class="label label-warning">CAP</span> {{dao.sede_legale_cap|nonone}}</div>
            </div>
          </div>
  </div>
       <div style="margin-bottom:5px;" class="clearfix"></div>
              <div class="col-sm-12">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Recapiti</h3>
            </div>
            <div class="panel-body">
                {% for a in daoutils.getRecapitiFornitore(dao.id) %}
                <div class="col-sm-6"><span class="label label-info">{{a.tipo_recapito|nonone}}</span> {{ a.recapito|nonone}}</div>
               {% endfor %}
            </div>
          </div>
  </div>
             <div style="margin-bottom:5px;" class="clearfix"></div>
 <div class="col-sm-12"><span class="label label-default">NOTE</span> {{ dao.note|nonone}}</div>
             <div style="margin-bottom:5px;" class="clearfix"></div>
        <div class="col-sm-12">
          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Dati preferenziali</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-4"><span class="label label-success">Pagamento</span> {{dao.pagamento_preferenziale|nonone}}</div>
                <div class="col-sm-4"><span class="label label-success">Magazzino</span> {{dao.magazzino_preferenziale|nonone}}</div>
            </div>
          </div>
  </div>

            </div><!-- chiude la row -->
         </div>
    </div>
 </div>

{% endblock %}
