<div style="width:100%;text-align:center"><a style="text-color:black;" href="http://www.promogest.me"><img src="gui/testata_promogest2.png" alt="Logo PromoGest" /></a></div>
<hr></hr>
<!--
<h2 align="left">Riepiloghi:</h2>
-->
<!--
{% if pageData["troppi"] == 0 %}
<h3 align="center">TOTALI del Fatturato relativi all'ultimo mese: ({{pageData["sospesi"]}})</h3>
{% else %}
<h3 align="center">TOTALI Fatturato:( Ultimi{{ pageData["sospesi"]}})</h3>
<p>Periodo dal {{utils.dateToString(pageData["objects"][0].data_documento)}} al {{utils.dateToString(pageData["objects"][-1].data_documento)}}</p>
{% endif %}
-->
<!--
            <table style="width:360px;">
            {% set tot = utils.calcolaTotali(pageData["objects"]) %}
            {% for k, v in tot['imponibile_aliquote'].items() %}
                <tr>
                    <th style="width:200px;text-align:left;font-size:12px" >IMPONIBILE Aliquota {{ utils.mN(k, 0) }}%</th>
                    <td style="width:120px;text-align:right;font-size:12px" ><b>{{utils.mNLC(v, 2)}}</b></td>
                </tr>
            {% endfor %}
            <tr>
                <th style="width:200px;text-align:left;font-size:12px" >IMPONIBILE. NON SCONTATO.</th>
                <td style="width:120px;text-align:right;font-size:12px" ><b>{{utils.mNLC(tot["totale_imponibile_non_scontato"],2)}}</b></td>
            </tr>
            {% for k, v in tot['imposta_aliquote'].items() %}
                <tr>
                    <th style="width:200px;text-align:left;font-size:12px" >IMPOSTA Aliquota {{ utils.mN(k, 0) }}%</th>
                    <td style="width:120px;text-align:right;font-size:12px" ><b>{{utils.mNLC(v, 2)}}</b></td>
                </tr>
            {% endfor %}
            <tr>
                <th style="width:200px;text-align:left;font-size:12px">IMPOSTA NON SCONTATA</th>
                <td style="width:120px;text-align:right;font-size:12px"><b>{{utils.mNLC(tot["totale_imposta_non_scontata"],2)}}</b></td>
            </tr>
             <tr>
                <th style="width:200px;text-align:left;font-size:12px">GENERALE NON SCONTATO </th>
                <td style="width:120px;text-align:right;font-size:12px"><b>{{utils.mNLC(tot["totale_non_scontato"],2)}}</b></td>
            </tr>
                        <tr><td></td></tr>
            <tr>
                <th style="width:200px;text-align:left;font-size:14px;">IMPONIBILE SCONTATO</th>
                <td style="width:120px;text-align:right;font-size:14px;"><b>{{utils.mNLC(tot["totale_imponibile_scontato"],2)}}</b></td>
            </tr>
            <tr>
                <th style="width:200px;text-align:left;font-size:14px;" >IMPOSTA SCONTATA </th>
                <td style="width:120px;text-align:right;font-size:14px;"><b>{{utils.mNLC(tot["totale_imposta_scontata"],2)}}</b></td>
            </tr>
                <th style="width:200px;text-align:left;font-size:16px;">GENERALE SCONTATO</th>
                <td style="width:120px;text-align:right;font-size:16px;"><b>{{utils.mNLC(tot["totale_scontato"],2)}}</b></td>
            </tr>
            <tr><td></td></tr>
           <tr>
                <th style="width:200px;text-align:left;font-size:12px">SOSPESO</th>
                <td style="width:120px;text-align:right;font-size:12px"><b>{{utils.mNLC(tot["totale_sospeso"],2)}}</b></td>
            </tr>
            <tr>
                <th style="width:200px;text-align:left;font-size:12px">PAGATO</th>
                <td style="width:120px;text-align:right;font-size:12px"><b>{{utils.mNLC(tot["totale_pagato"],2)}}</b></td>
            </tr>
        </table>
-->
        <a style="text-color:black;" href="http://www.promogest.me/promoGest/news_list">
<div style="text-align:center;color:black;"><br />
    <h3 style="color:black;">NEWS dal SITO</a></h3></div>
