<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

{% if environment.web %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Pg2 WEB8</title>
<link rel="stylesheet" type="text/css" href="/templates/include/style.css" />

<script type="text/javascript" src="/templates/include/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/templates/include/jquery.livequery.js"></script>
<script src="/templates/include/jquery.livequery.js" type="text/javascript" charset="utf-8"></script>
 <script type="text/javascript" src="/templates/include/jquery.validate.js"></script>

<style type="text/css">@import "/templates/include/jquery.datepick.css";</style>
<script type="text/javascript" src="/templates/include/jquery.datepick.js"></script>
<script type="text/javascript" src="/templates/include/jquery.datepick-it.js"></script>

<script type="text/javascript" src="/templates/include/jquery.autoSuggest.packed.js"></script>
<link type="text/css" rel="stylesheet" href="/templates/include/autoSuggest.css" />

<script type="text/javascript">
$(document).ready(function(){
$("div#chiudi").hide()
$("div#daoaddedit").hide()
$("a.new").livequery('click',function(){
$("div#chiudi").show()
var daod = $(this).attr("dao")
$("div#searchBox").hide()
$("div#filterbox").hide()
$("div#preview").hide()
$("div#nav").hide()
$("div#daoaddedit").animate({
    width: "98%",
    height: "auto",
    }, 1000 ),
$('div#daoaddedit').load('../../daoadd',{"dao":daod })
});

$("a#chiudilink").click(function(){
$("div#searchBox").show();
$("div#filterbox").show();
$("div#preview").show();
$("div#nav").show();
$("div#chiudi").hide()
$("div#daoaddedit").hide();
$('div#preview').empty()

    });

$('a.delete')
    .livequery('click', function(event) {
    var idrr = $(this).attr("id");
    var dao = $(this).attr("dao");
    $('div#filterbox').load('../../delete',{ 'idr':idrr,"dao":dao });
    alert('Cancellato');
    return false;
    });


$('a.edit')
    .livequery('click', function(event) {
    $("div#chiudi").show()
    $("div#searchBox").hide()
    $("div#filterbox").hide()
    $("div#preview").hide();
    $("div#daoaddedit").animate({
    width: "98%",
    }, 1000 )
    var idrrr = $(this).attr("id");
    var daos = $(this).attr("dao");
    $('div#daoaddedit').load('../../edit',{ 'idr':idrrr,"dao":daos });
    });

$("a.item").livequery('click',function(){
var idrr = $(this).attr("id")
var dao = $(this).attr("dao")
$('div#preview').load('../../preview',{ 'idr':idrr,"dao":dao });
});



});
</script>

</head>

<body >

    <div id="wrapper">
    <div id="header">
    <h1>PG2 WEB Rel. 0.2.33</h1>
</div>
<!--             <div id="navigation">-->
<!--                <p>This is the Navigation</p>-->
<!--            </div>-->

{% include "spallasx.html" with context %}
<div id="content">


<!-- LOGIN -->

{% if not pageData["auth"] %}
<div id="login">
    <h4 class="titolo">Login Pg2 WEBBB</h4><br />
    <form method="post" action="/login"><p>
            &nbsp;Azienda&nbsp;&nbsp;&nbsp;<select name="company">
                {% for com in pageData['company'] %}
                     <option value="{{com}}">{{com}}</option>
                {% endfor %}
            </select><br />
            &nbsp;Username&nbsp;<input type="text" name="username" class="input_login" />
             <br />
            &nbsp;Password&nbsp;<input type="password" name="password" class="input_login" /><br /><br />
            &nbsp;Anno&nbsp;&nbsp;&nbsp;&nbsp;<select name="year">
                {% for y in range(2007,2020) %}
                    {% if y == pageData["annocorrente"] %}
                        <option value="{{y}}" selected=yes>{{y}}</option>
                    {% else %}
                        <option value="{{y}}">{{y}}</option>
                    {% endif %}
                 {% endfor %}
            </select><br /><br />
            <input type="submit" value="login" class="login" />
    </p>
    </form>
</div>
{% else %}

{% block operation %}


{% endblock %}
<!--    <a href="/siteAdmin"><h1>HAI LE TUE SCELTE NELLE DUE SIDEBAR</h1></a>-->
{% endif %}

    <!-- END LOGIN -->

</div>
{% include "spalladx_siteadmin.html" with context %}

</div>
<!--<div id="footer">-->
<!--    <span class="copy">Copyright 2007 2008 2009 2010 &#169; </span>-->
<!--    <span class="credits"><a href="http://www.promotux.it" target="blank">Promotux Informatica</a></span>-->
<!--</div>-->

{% endblock %}
</body>
{% else %}
<head>

{% include 'gtkhead.html' with context %}

</head>
<body >
<div id="container">
{{ self.body() }}
</div>
</body>
{% endif %}
</html>
