<!DOCTYPE html PUBLIC “-//W3C//DTD XHTML 1.0 Transitional//EN" “http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
<head>
<title>jQuery Tutorial – WebAir.it</title>
<meta name="description" content="jQuery Tutorial – per principianti e non" />
<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1" />

<script type="text/javascript" src="/templates/siteAdmin/include/jquery-1.4.2.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){

$("p#paragraph1").hide();

$("a#paragraphAnchor").click(function(){
$("#paragraph1").show();
});


$("a#aia").click(function(){
$('div#contenutoAjax').load('/login',{ 'choices[]': ["Jon", "Susan"] });
});



});
</script>

</head>
<body>

<div id="contenutoAjax">


</div>

<a href="#" id="aia">click to show aia</a>


<a href="#" id="paragraphAnchor">click to show the paragraph</a>
<p id="paragraph1">
1st Paragraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>

<p>
2nd Paragraph Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>

</body>
</html>
