{% extends 'index.html' %}

{% block body %}
    {% if dao %}
<div class="row">
     <div class="col-xs-12 col-md-12">
        <div class="panel panel-default">
  <div class="panel-heading"><h3>ARTICOLO: {{dao.codice_articolo}} - {{dao.articolo}}</h3>
             <h3>LISTINO: {{dao.denominazione}}</h3></div>
    <span class="label label-default">Data ultimo prezzo</span><p style="display:inline;"><strong> {{utils.dateToString(dao.data_listino_articolo)}}</strong></p>
  <div class="panel-body">

                  <div style="margin-bottom:5px;" class="clearfix"></div>
    <div class="col-sm-4">
      <div class="panel panel-success">
	  <div class="panel-heading">
			<h3 class="panel-title">ULTIMO COSTO</h3>
	  </div>
	  <div class="panel-body">
        <div class="col-sm-12"><span class="label label-success">IVATO</span> {{utils.mNLC(utils.calcolaPrezzoIva(dao.ultimo_costo,dao.percentuale_iva),3)}}</div>
        <div class="col-sm-12"><span class="label label-success">NON IVATO</span> {{utils.mNLC(dao.ultimo_costo,3)}}</div>
	  </div>
</div>




          </div>
    <div class="col-sm-4">
      <div class="panel panel-info">
	  <div class="panel-heading">
			<h3 class="panel-title">PREZZO AL DETTAGLIO</h3>
	  </div>
	  <div class="panel-body">
        <div class="col-sm-12"><span class="label label-info">IVATO</span> {{utils.mNLC(dao.prezzo_dettaglio,3)}} </div>
        <div class="col-sm-12"><span class="label label-info">NON IVATO</span> {{utils.mNLC(utils.calcolaPrezzoIva(dao.prezzo_dettaglio, -1*dao.percentuale_iva),3)}} </div>
          <div class="col-sm-12"><span class="label label-info">SCONTO</span> {{ utils.getStringaSconti(utils.getScontiFromDao(dao.sconto_vendita_dettaglio, dao.applicazione_sconti)[0])}}</div>

    <div class="col-sm-12"><span class="label label-info">RICARICO</span> {{utils.mN(utils.calcolaRicarico(dao.ultimo_costo,dao.prezzo_dettaglio,dao.percentuale_iva),1)}} %</div>
      <div class="col-sm-12"><span class="label label-info">MARGINE</span> {{utils.mN(utils.calcolaMargine(dao.ultimo_costo,dao.prezzo_dettaglio,dao.percentuale_iva),1)}} %</div>
	  </div>
</div>
          </div>
          <div class="col-sm-4">
      <div class="panel panel-warning">
	  <div class="panel-heading">
			<h3 class="panel-title">PREZZO INGROSSO</h3>
	  </div>
	  <div class="panel-body">
        <div class="col-sm-12"><span class="label label-warning">IVATO</span> {{utils.mNLC(utils.calcolaPrezzoIva(dao.prezzo_ingrosso, dao.percentuale_iva),3)}}</div>
        <div class="col-sm-12"><span class="label label-warning">NON IVATO</span> {{utils.mNLC(dao.prezzo_ingrosso,3)}}</div>
          <div class="col-sm-12"><span class="label label-warning">SCONTO</span> {{ utils.getStringaSconti(utils.getScontiFromDao(dao.sconto_vendita_ingrosso, dao.applicazione_sconti)[0])}}</div>

    <div class="col-sm-12"><span class="label label-warning">RICARICO</span> {{utils.mN(utils.calcolaRicarico(dao.ultimo_costo,dao.prezzo_ingrosso),1)}} %</div>
      <div class="col-sm-12"><span class="label label-warning">MARGINE</span> {{utils.mN(utils.calcolaMargine(dao.ultimo_costo,dao.prezzo_ingrosso),1)}} %</div>
	  </div>
</div>
          </div>

      </div>
            </div>
         </div>
    </div>

        {% else %}
        <p><img src= "gui/attenzione_48X48.png">ELIMINATO: Niente da visualizzare</p>
        <p><img src= "gui/testata_promogest2.png"></p>
        {% endif %}
{% endblock %}
