<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:py="http://genshi.edgewall.org/"
        xmlns:xi="http://www.w3.org/2001/XInclude"
        lang="en">
    <head>
        <title>Dettaglio Listino</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <xi:include href="style.css"><xi:fallback/></xi:include>
    </head>
    <body>
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td class="report-header" colspan="2"><h3>Listino: <strong>${dao.denominazione}</strong></h3></td>
            </tr>
            <tr><td colspan="2" class="table-header">Dati listino</td></tr>
            <tr>
                <td width="140px" class="odd-detail">Descrizione</td>
                <td class="odd-detail"><strong>${dao.descrizione}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Data listino</td>
                <td class="even-detail">
                    <strong py:if="dao.data_listino is not None">
                        <strong>${dao.data_listino.strftime('%d/%m/%Y')}</strong>
                    </strong>
                </td>
            </tr>
            <tr><td colspan="2" class="table-header">Composto Da Questi Listini:</td></tr>
            <tr><td class="odd-detail" colspan="2">
            <ul>
                <li py:for="listino in dao.listiniComplessi">
                    ${listino.listino_denominazione}
                </li>
            </ul>
            </td></tr>
            <tr><td colspan="2" class="table-header">Categorie cliente associate</td></tr>
            <tr><td class="odd-detail" colspan="2">
            <ul>
                <li py:for="categoriaCliente in dao.categorieCliente">
                    ${categoriaCliente.categoria_cliente}
                </li>
            </ul>
            </td></tr>
            <tr><td colspan="2" class="table-header">Magazzini associati</td></tr>
            <tr><td class="odd-detail" colspan="2">
            <ul>
                <li py:for="magazzino in dao.magazzini">
                    ${magazzino.magazzino}
                </li>
            </ul>
            </td></tr>
        </table>
    </body>
</html>