<div id="login">
    <h4 class="titolo">Login Pg web for {{pageData["subdomain"]}}</h4><br />
    <form method="post" action="/login"><p>
            &nbsp;Azienda&nbsp;&nbsp;&nbsp;<select name="company">
                {% for com in pageData['company'] %}
                    {% if com.tipo_schemaa =="last" %}
                    <option value="{{com.schemaa}}" selected="selected">{{com.schemaa}}</option>
                    {% else %}
                     <option value="{{com.schemaa}}">{{com.schemaa}}</option>
                     {% endif %}
                {% endfor %}
            </select><br />
            &nbsp;Username&nbsp;<input type="text" name="username" class="input_login" />
             <br /><br />
            &nbsp;Password&nbsp;<input type="password" name="password" class="input_login" /><br /><br />
            &nbsp;Anno&nbsp;&nbsp;&nbsp;&nbsp;<select name="year">
                {% for y in range(2007,2020) %}
                    {% if y == pageData["annocorrente"] %}
                        <option value="{{y}}" selected="selected"> {{y}} </option>
                    {% else %}
                        <option value="{{y}}"> {{y}} </option>
                    {% endif %}
                 {% endfor %}
            </select><br /><br />
            <input type="submit" value="login" class="login" />
    </form>
</div>
