{% if not pageData['subdomain'] =="" %}
    {% extends pageData['subdomain']+"/"+'index.html' %}
{% else %}
    {% extends 'index.html' %}
{% endif %}
{% block operation %}

<br /><br /><br />

<div id="box">
<p> Pg2 web è un client per il server PromoGest2.<br /><br />
<p>
<b>26-09-2011</b> TODO: gestire la stampa di quasi tutte le anagrafiche tramite pisa e la conversione in pdf e lasciare solo movimenti e documenti con lo sla</p>
<p>
<b>26-09-2011</b> Parlato con fmarl di un eventuale uso di qualche libreria che automatizzi la creazione dei form e la parte di validazione dei campi</p>
<p>
<p>
<b>19-09-2011</b> Dopo un anno si riprendono i lavori di questa versione WEB, era un buon progett, forse non lo avrei dovuto abbandonare</p>
<p>
<b>27-08-2010</b>  La generazione pdf e stampe degli articoli funziona, c'è da iniziare la sistemazione del layout ...è davvero impresentabile
</p>
<b>10-08-2010</b>  Trovato un sistema elegante con jquery/ajax per la gestione delle insert, creato uno schema generico per le anagrafiche semplici ma
facilmente usabile anche per quelle complesse.
Sistemna di comparsa e scomparsa della ricerca ed allargamento dell'area di preview che diventa anche quella di insert ed edit.
parametri categoria fornitore funzionante.
testato da alcuni pc in remoto e seppur su una adsl risulta molto veloce e reattivo.
Sistemato leggermente lo stile che resta ancora abbozzato. </p>
<p>
<b>11-08-2010</b>  :TODO sistemare cancellazione con ajax ed edit.
portare il tutto a tutte le anag semplici dei parametri.
</p>
<p>
<b>12-08-2010</b>  :<b>Fatta anagrafica aliquote iva in parametri</b>, che potremmo definire
complessa, funzionano tutte le opzioni, inserimento, editing, cancellazione e anteprima
adesso c'è da finire di portare il tutto sulle altre anagrafiche ...
buon livello di astrazione.
Aperto un repo mercurial su google all'indirizzo:
<a href="https://code.google.com/p/promogest2-web/">https://code.google.com/p/promogest2-web/</a>
</p>
<p>
<b>13-08-2010</b>  :Si porta anagrafica articoli  ...iniziamo con una grossa così ci togliamo il pensiero
</p>
<p>
<b>16-08-2010</b>  :Finito anag articoli, predisposizione ad altre funzioni secondarie come codici a barre ...
tutte la altre ang anche le semplici sono al momento non funzionanti per via della paginazione che richiede una variabile iniziale in pageData
</p>
<p>
<b>17-08-2010</b>  :PORTATE le anag minori come pagamenti, imballaggi, categorie clienti, categorie fornitori, categorie contatto e categoria articolo.
aliquota iva era già fatto ....si continua con le famiglie , le banche.
Per segnalare Bug, suggerimenti, proposte o altro potete usare questo: <a href="https://code.google.com/p/promogest2-web/issues/list" >https://code.google.com/p/promogest2-web/issues/list</a>
</p>
<p>
<b>18-08-2010</b>  :PORTATE Quasi tutte le anag minori. Manca da finire add ed edit di famiglia articolo e pensare una visualizzazione ad albero per le sottofamiglie. Poi si passa alle anagrafiche complesse
SE sei interessato a fare la grafica del nuovo PG2-WEB contattaci a assistenza@promotux.it  ...In cambio il tuo nome o quello della tua azienda sarà presente tra i credit del programma
</p>
<p>
<b>19-08-2010</b>  :Fatto anag clienti, stasera anaf fornitori vettori ed agenti che sono tutti pressochè  uguali. Portato stile anteprime dal pg2-gtk
</p>
<p>
<b>19-08-2010</b>  Le forniture hanno richiesto uno sforzo diverso. Hanno infatti una serie di problematiche differenti
dalle altre anagrafiche. Nei filtri infatti hanno quattro date ( risolto con jquery datepicker) e
delle enty che necessitano di un auto completamento. La cosa non è stata semplice, la soluzione
trovata
è senz'altro perfettibile ma funzionante per il momento e permetterà domani
di finire le forniture anche nella loro modifica e cancellazione.
</p>
<p>
<b>27-08-2010</b>  La generazione pdf e stampe degli articoli funziona, c'è da iniziare la sistemazione del layout ...è davvero impresentabile
</p>
</div>

{%endblock%}
