{% if pageData['subdomain'] %}
    {% extends pageData['subdomain'].template+'/index.html' %}
{% else %}
    {% extends 'mainsite/index.html' %}
{% endif %}

{% block center %}
<div id="contentss">
        <h2>Le informazioni sulla tua connessione</h2>
    <p> Puoi leggerle ed inviarle tramite email all'assistenza <b>PromoTUX / PromoGest</b>. Questo può essere utile in caso di richiesta di accesso
remoto o come semplice sistema per farci pervenire i vostri dati<br/> Compilate inserendo il vostro NOME e la vostra  EMAIL ed inviate<br /><br />GRAZIE!</p>

<div id="page">
<div class="contacts-left">IP:&nbsp;<span style="color:black;"><b>{{req.environ['REMOTE_ADDR']}}</b></span></div><br />
<div class="contacts-left">Lingua:&nbsp;<span style="color:black;">{{req.environ['LANG']}}</span></div><br />
<form method="post" action="/{{pageData['subdomain'].template}}/mioip">
<input type="hidden" name="reqs" value="{{req.environ}}"/>
<input type="hidden" name="ip" value="{{req.environ['REMOTE_ADDR']}}"/>
<tr><td class="contacts-left">Nome*:</td>
    <td class="contacts-right"><input type="text" name="name" size="30" maxlength="50" class="contacts" /></td></tr>
<tr><td class="contacts-left">email*:</td>
    <td class="contacts-right"><input type="text" name="email" size="30" maxlength="50" class="contacts" /></td></tr>
    <tr><td class="contacts-center"><input type="submit" value="Invia" class="submit" /></td>
    <td class="contacts-center"><input type="reset" value="Azzera campi" class="submit" /></td></tr>
    </table>
    </form>
    </div>

</div>


{% endblock %}HTTP_ACCEPT_LANGUAGE
