{% if pageData['subdomain'] %}
    {% extends pageData['subdomain'].template+'/index.html' %}
{% else %}
    {% extends 'index.html' %}
{% endif %}

{% block center %}
<!-- <div> -->
<div id="moduli_dettaglio">
    <div id="menu_mod">
        <div id="ico_back"></div>
            <a href="/promoGest/moduli">Tutti i moduli</a>
    </div>

    <div id="centertop"><br />
        <h2>{{pageData["moduleD"].denomination}}</h2>
        <div id="mod_d_ico_modulo">
                <img src="/templates/module_img/{{pageData['moduleD'].imagepath}}" alt = "immagine" width="180" height="180" /></div>
        <div id="mod_d_descrizione"><p>Codice:&nbsp;<b><span id="risposte">{{pageData["moduleD"].codice}}</span></b><br />
            Versione:&nbsp; <b><span class="risposte">{{pageData["moduleD"].versione}}</span></b> <br /><br />
            È disponibile per la versione <span style="color:#006699;">Lite</span>:&nbsp;
            {% if pageData['moduleD'].lite %}
                <span class="risposte"><b>SI</b></span>
            {% else %}
                 <span class="risposte"><b>NO</b></span>
            {% endif %} <br />
            {% if pageData['moduleD'].normal %}

            È disponibile per la versione <span style="color:#006699;">Pro</span>:&nbsp;
                <span class="risposte"><b>SI</b></span>
            {% else %}
               <span class="risposte"> <b>NO</b></span>
            {% endif %} <br /><br />
            {% if pageData["auth"] %}
                Prezzo acquisto: <span class="risposte">€&nbsp; <b>{{pageData["moduleD"].prezzo}},00 </b></span><br />
                Prezzo rinnovo : <span class="risposte">€&nbsp;<b> {{pageData["moduleD"].prezzo_rinnovo}},00</b></span> <br />
            {% else %}
                Prezzo acquisto: <span class="risposte">€&nbsp; <b>- </b></span><br />
                Prezzo rinnovo : <span class="risposte">€&nbsp;<b> -</b></span> <br />
            {% endif %}
             <br /></p>
        </div><br /><br /><br />
        <div id="mod_d_text"><h5>Descrizione Breve:</h5> <br />{{pageData["moduleD"].abstract}}</div> <br />
        <div id="mod_d_text"><h5>Dettaglio:</h5> <br />{{pageData["moduleD"].body}}</div> <br />
        <div id="mod_d_clicks">Modulo visitato:<b> {{pageData["moduleD"].clicks}}</b> volte</div>
    </div> <br /> <br />
     <div id="videocenter">
        <div id="screentitle">
            <h2> Immagini e Video del modulo in azione</h2>
        </div>
            {% for vid in pageData['mediaAbbinati'] %}
            {% if vid.numero ==1 %}
                {% if "object" in vid.imagepath or "application/x-shockwave-flash" in vid.imagepath %}
                    <div class="video">{{ vid.imagepath }}</div>
                {% else  %}
                    <div class="video"><a href="{{ vid.imagepath }}"><img src="{{ vid.imagepath }}" width="425" height="344" alt="{{vid.testo_alternativo}}"></a></div>
                {% endif %}
            {% elif vid.numero ==2 %}
                {% if "object" in vid.imagepath or "application/x-shockwave-flash" in vid.imagepath %}
                    <div class="video">{{ vid.imagepath }}</div>
                {% else  %}
                    <div class="video"><a href="{{ vid.imagepath }}"><img src="{{ vid.imagepath }}" width="425" height="344" alt="{{vid.testo_alternativo}}"></a></div>
                {% endif %}
            {% elif vid.numero ==3 %}
                    {% if "object" in vid.imagepath or "application/x-shockwave-flash" in vid.imagepath %}
                    <div class="video">{{ vid.imagepath }}</div>
                {% else  %}
                    <div class="video"><a href="{{ vid.imagepath }}"><img src="{{ vid.imagepath }}" width="425" height="344" alt="{{vid.testo_alternativo}}"></a></div>
                {% endif %}
            {% elif vid.numero ==4 %}
                    {% if "object" in vid.imagepath or "application/x-shockwave-flash" in vid.imagepath %}
                    <div class="video">{{ vid.imagepath }}</div>
                {% else  %}
                    <div class="video"><a href="{{ vid.imagepath }}"><img src="{{ vid.imagepath }}" width="425" height="344" alt="{{vid.testo_alternativo}}"></a></div>
                {% endif %}
            {% elif vid.numero ==5 %}
                    {% if "object" in vid.imagepath or "application/x-shockwave-flash" in vid.imagepath %}
                    <div class="video">{{ vid.imagepath }}</div>
                {% else  %}
                    <div class="video"><a href="{{ vid.imagepath }}"><img src="{{ vid.imagepath }}" width="425" height="344" alt="{{vid.testo_alternativo}}"></a></div>
                {% endif %}
            {% endif %}
            {% endfor %}
    </div>
    <div class="spacer"></div>
</div>
<!--end content -->
{%endblock%}
