{% if pageData['subdomain'] %}
    {% extends pageData['subdomain'].template+'/index.html' %}
{% else %}
    {% extends 'index.html' %}
{% endif %}

{% block center %}
<div id="moduli">
<br />
  <h1>Elenco Moduli</h1><br />
<p>Come già ampiamente specificato nella sezione <a href="/promoGest/promogest-versioni"/>Versioni</a>
il Promogest2 dispone di due versioni base alle quali è possibile abbinare i Moduli che elenchiamo in questa pagina.</p>
<p>Troverete una ampia gamma di moduli, che vi consentiranno di creare il software più adeguato alle vostre esigenze.</p>
<p>Tutti i costi indicati in questa pagina riguardano esclusivamente costi di acquisizione e costi di rinnovo,
non comprendono pertanto nessun tipo di servizio accessorio quali ad esempio l'installazione o
l'assistenza che invece sono presenti nella sezione <a href="/promoGest/servizi"/>Servizi</a>.</p>
<p>La scelta di adottare questa distinzione è stata fatta per consentire a chi, per
specifiche competenze tecniche, possiede le risorse per installare quanto acquistato.</p>
<p>Tramite l'accesso autenticato ad una connessione SVN la nostra azienda rende
disponibile il necessario per effettuare l'installazione del software base e
degli eventuali moduli richiesti, si precisa che <b>servono ottime competenze
per installazione e settaggio di Database ( <a href="http://www.sqlite.org" target="blank" />SQLite</a> e <a href="http://www.postgresql.org" target="blank" />PostgreSql</a> ),
script di installazione e settaggi LAN</b>.</p>
<p>Per visionare i costi dei moduli bisogna prima effettuare il <b>login</b>,
se non siete utenti registrati potete farlo <a href="/promoGest/userRegistration"/>cliccando qui</a>,
è gratuito e riserva tanti <a href="/promoGest/userRegistration"/>vantaggi</a>.</p>
  <div id="testata_table">
    <div id="ico"></div>
    <div id="descrizione_testata"><div align="center">Descrizione </div> </div>
    <div id="ico_pg2"></div>
    <div id="ico_pglite"></div>
    <div id="attivazione"><div align="center">Attivazione </div> </div>
    <div id="rinnovo"><div align="center">Rinnovo</div></div>
    <div class="style5" id="link_dettagli"> Dettagli </div>
  </div>
 {% for modu in pageData['modules'] %}

  <div id="rigatable">
    <div id="up">
    <div id="ico">
<div align="center">
        <a href ="/promoGest/dettaglio_moduli/{{modu.permalink}}"/>
            <img src="/templates/module_img/{{modu.imagepath}}"  height="36"/></a> </div></div>
            <div id="descrizione"><b><span id="risposte"> {{modu.denomination}}</span></b></div>
    {% if modu.lite %}
        <div id="si"><img src="/templates/promoGest/img/si.png" /></div>
    {% else %}
        <div id="no"><img src="/templates/promoGest/img/no.png" /></div>
    {% endif %}
    {% if modu.normal %}
        <div id="si"><img src="/templates/promoGest/img/si.png" /></div>
    {% else %}
        <div id="no"><img src="/templates/promoGest/img/no.png" /></div>
    {% endif %}
    {% if pageData["auth"] %}
    <div id="attivazione"><b><span id="risposte">€&nbsp; {{modu.prezzo}},00</span></b> </div>
    <div id="rinnovo"><b><span id="risposte">€&nbsp; {{modu.prezzo_rinnovo}},00</span></b> </div>
    {% else %}
    <div id="attivazione"><b><span id="risposte">€&nbsp; - </span></b> </div>
    <div id="rinnovo"><b><span id="risposte">€&nbsp; - </span></b> </div>
    {% endif %}
    <div id="link_dettagli"><a href ="/promoGest/dettaglio_moduli/{{modu.permalink}}"/>Dettagli</a></div></div>
    <div id="abstr">{{modu.abstract}}</div>
    <span id="clicks">Visitato:<b>{{modu.clicks}}</b> volte </span>
  </div>
<!-- </div> -->
 {% endfor %}
<!--end content -->
</div>
{%endblock%}
