{% extends 'index.html' %}

{% block body %}
    {% if dao %}
        <table cellpadding="0" cellspacing="0" border="0">
                <td class="odd-detail" width="180px">Denominazione</td>
                <td class="odd-detail"><strong>{{dao.denominazione}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail" >Tipo</td>
                <td class="even-detail"><strong>{{dao.tipo}}</strong></td>
            </tr>
            <tr>
                <td class="odd-detail" >Spese</td>
                <td class="odd-detail"><strong>{{utils.mN(dao.spese, 2)}}</strong></td>
            </tr>
            <tr>
                <td class="odd-detail" >Aliquota IVA</td>
                <td class="odd-detail"><strong>{{dao.aliquota_iva}}</strong></td>
            </tr>
        </table>
        {% else %}
        <p><img src= "gui/attenzione_48X48.png">ELIMINATO: Niente da visualizzare</p>
        <p><img src= "gui/testata_promogest2.png"></p>
        {% endif %}
    {% endblock %}
