{% extends 'index.html' %}

{% block body %}
    {% if dao %}
<style>
@page {
size: A4 landscape;
margin: 1cm;
}
</style>
<h3 ><strong>DATI TESTATA PRIMA NOTA</strong></h3>
<table>
<th width="200">NUMERO</th>
<th width="200">DATA INIZIO</th>
<th width="200">DATA FINE</th>
<tr>
<td ><strong>{{dao.numero}}</strong></td>
<td ><strong>{{utils.dateToString(dao.data_inizio)}}</strong></td>
<td ><strong>{{utils.dateToString(dao.data_fine)}}</strong></td>
</tr>
</table>
<br />
<h3 ><strong>DATI OPERAZIONI IN PRIMA NOTA</strong></h3><br />
    <table cellpadding="0" cellspacing="0" border="0">
        <th><b>N° OP.</b></th>
        <th><b>DATA</b></th>
        <th><b>DESCRIZIONE</b></th>
        <th><b>ENT CASSA</b></th>
        <th><b>USC CASSA</b></th>
        <th><b>ENTR BANCA</b></th>
        <th><b>USC BANCA</b></th>
        <th><b>RIF.</b></th>

        {% for riga in dao.righeprimanota %}
        <tr >
        <td class="odd-detail">{{riga.numero}}</td>
        <td class="odd-detail">{{utils.dateToString(riga.data_registrazione)}}</td>
            <td width ="30%" class="odd-detail">{{riga.denominazione}}</td>
            {% if riga.segno =="entrata" and riga.tipo =="cassa" %}
                <td class="odd-detail">{{utils.mN(riga.valore)}}</td><td class="odd-detail">0</td><td class="odd-detail">0</td><td class="odd-detail">0</td>
            {% elif riga.segno =="uscita" and riga.tipo =="cassa" %}
            <td class="odd-detail">0</td><td class="odd-detail">{{utils.mN(riga.valore)}}</td><td class="odd-detail">0</td><td class="odd-detail">0</td>
            {% elif riga.segno =="entrata" and riga.tipo =="banca" %}
            <td class="odd-detail">0</td><td class="odd-detail">0</td><td class="odd-detail">{{utils.mN(riga.valore)}}</td><td class="odd-detail">0</td>
            {% elif riga.segno =="uscita" and riga.tipo =="banca" %}
            <td class="odd-detail">0</td><td class="odd-detail">0</td><td class="odd-detail">0</td><td class="odd-detail">{{utils.mN(riga.valore)}}</td>
            {% endif %}
        </tr>
        {% endfor %}
                </table>
<br /><br />
<table>
<tr>
        <td width ="200"><b>TOTALE ENTRATE CASSA</b></td>
<td style="color:green" >{{utils.mN(dao.totali["tot_entrate_cassa"])}}</td>
</tr>
<tr>
        <td width ="200"><b>TOTALE USCITE CASSA</b></td>
        <td style="color:red">{{utils.mN(dao.totali["tot_uscite_cassa"])}}</td>
</tr>
<tr>
        <td width ="200"><b>TOTALE ENTRATE BANCA</b></td>
        <td style="color:green">{{utils.mN(dao.totali["tot_entrate_banca"])}}</td>
</tr>
<tr>
        <td width ="200"><b>TOTALE USCITE BANCA</b></td>
        <td style="color:red">{{utils.mN(dao.totali["tot_uscite_banca"])}}</td>
</tr>
<tr>
        <td width ="200"><b>TOTALE ENTRATE</b></td>
        <td style="color:green">{{utils.mN(dao.totali["tot_entrate"])}}</td>
</tr>
<tr>
        <td width ="200"><b>TOTALE USCITE</b></td>
        <td style="color:red">{{utils.mN(dao.totali["tot_uscite"])}}</td>
</tr>
<tr>
        <td width ="200"><b>SALDO</b></td>
        {% if dao.totali["totale"] > 0 %}
        <td style="color:green"><b>{{utils.mN(dao.totali["totale"])}}</b></td>
        {% else %}
        <td style="color:red" ><b>{{utils.mN(dao.totali["totale"])}}</b></td>
         {% endif %}
</tr>
</table>
        {% else %}
        <p><img src= "gui/attenzione_48X48.png">ELIMINATO: Niente da visualizzare</p>
        <p><img src= "gui/testata_promogest2.png"></p>
        {% endif %}


{% endblock %}
