{% extends 'index.html' %}

{% block body %}
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
        <td class= "report-header" colspan="8"><h3></h3></td>
                <td class="report-header" colspan="8"><h3>Numero: <strong>{{dao.numero}}</strong> /
                </h3></td>
            </tr>
    </table>

    <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td colspan="8" class="table-header">Dati Prima Nota</td>
            </tr>
        <tr>
            <td class="even-detail">Data inizio:</td>
                <td class="even-detail">
                        <strong>{{utils.dateToString(dao.data_inizio)}}</strong>
                </td>
    </tr>
        <tr>
            <td class="even-detail">Data fine</td>
                <td lass="even-detail">
                        <strong>{{utils.dateToString(dao.data_fine)}}</strong>
                </td>
    </tr>
        <tr>
        <td><b>NUMERO</b></td><td><b>DATA</b></td><td><b>DESCRIZIONE</b></td><td><b>ENT CASSA</b></td><td><b>USC CASSA</b></td><td><b>ENTR BANCA</b></td><td><b>USC BANCA</b></td><td><b>RIF.</b></td>

        {% for riga in dao.righeprimanota %}
        <tr >
        <td class="odd-detail">{{riga.numero}}</td>
        <td class="odd-detail">{{utils.dateToString(riga.data_registrazione)}}</td>
            <td width ="30%" class="odd-detail">{{riga.denominazione}}</td>
            {% if riga.segno =="entrata" and riga.tipo =="cassa" %}
                <td class="odd-detail">{{utils.mN(riga.valore)}}</td><td class="odd-detail">0</td><td class="odd-detail">0</td><td class="odd-detail">0</td>
            {% elif riga.segno =="uscita" and riga.tipo =="cassa" %}
            <td class="odd-detail">0</td><td class="odd-detail">{{utils.mN(riga.valore)}}</td><td class="odd-detail">0</td><td class="odd-detail">0</td>
            {% elif riga.segno =="entrata" and riga.tipo =="banca" %}
            <td class="odd-detail">0</td><td class="odd-detail">0</td><td class="odd-detail">{{utils.mN(riga.valore)}}</td><td class="odd-detail">0</td>
            {% elif riga.segno =="uscita" and riga.tipo =="banca" %}
            <td class="odd-detail">0</td><td class="odd-detail">0</td><td class="odd-detail">0</td><td class="odd-detail">{{utils.mN(riga.valore)}}</td>
            {% endif %}
        </tr>
        {% endfor %}
                </table>
        <table cellpadding="0" cellspacing="0" border="0">
        <tr>
        <td><b>TOTALE ENTRATE CASSA</b></td>
        <td><b>TOTALE USCITE CASSA</b></td>
        <td><b>TOTALE ENTRATE BANCA</b></td>
        <td><b>TOTALE USCITE BANCA</b></td>
        <td><b>TOTALE ENTRATE</b></td>
        <td><b>TOTALE USCITE</b></td>
        <td><b>SALDO</b></td>
        </tr>
        <tr>
        <td style="color:green;text-align:center" >{{utils.mN(dao.totali["tot_entrate_cassa"])}}</td>
        <td style="color:red;text-align:center">{{utils.mN(dao.totali["tot_uscite_cassa"])}}</td>
        <td style="color:green;text-align:center">{{utils.mN(dao.totali["tot_entrate_banca"])}}</td>
        <td style="color:red;text-align:center">{{utils.mN(dao.totali["tot_uscite_banca"])}}</td>
        <td style="color:green;text-align:center">{{utils.mN(dao.totali["tot_entrate"])}}</td>
        <td style="color:red;text-align:center">{{utils.mN(dao.totali["tot_uscite"])}}</td>
        {% if dao.totali["totale"] > 0 %}
        <td style="color:green;text-align:center"><b>{{utils.mN(dao.totali["totale"])}}</b></td>
        {% else %}
        <td style="color:red;text-align:center" ><b>{{utils.mN(dao.totali["totale"])}}</b></td>
         {% endif %}
        </tr>
        </table>
{% endblock %}
