{% extends 'index.html' %}

{% block body %}
    {% if dao %}
<style>
@page {
size: A4 portrait;
margin: 1cm;
}
</style>
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td width="50%" class="report-header"><h3>Incaricato: <strong>{{dao.incaricato}}</strong></h3></td>
    		<td class="report-header"><h3>Data scadenza: <strong>{{utils.dateTimeToString(dao.data_scadenza)}}</strong></h3></td>
            </tr>
            <tr>
                <td class="report-header" colspan="2"><h3>Oggetto: <strong>{{dao.oggetto}}</strong></h3></td>
            </tr>
</table>
  <table cellpadding="0" cellspacing="0" border="0">
            <tr><td class="table-header">Descrizione</td></tr>
            <tr><td class="odd-detail">{{dao.descrizione|nl2br}}</td></tr>
</table>
   <table cellpadding="0" cellspacing="0" border="0">
            <tr><td colspan="3" class="table-header">Informazioni promemoria</td></tr>
            <tr>
                <td width="140px" class="odd-detail">Data inserimento</td>
                <td colspan="2" class="odd-detail"><strong>{{utils.dateTimeToString(dao.data_inserimento)}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Autore</td>
                <td colspan="2" class="even-detail"><strong>{{dao.autore}}</strong></td>
            </tr>
            <tr>
                <td class="odd-detail">Riferimento</td>
                <td colspan="2" class="odd-detail"><strong>{{dao.riferimento}}</strong></td>
            </tr>
            <tr>
                <td class="even-detail">Annotazioni</td>
                <td colspan="2" class="even-detail"><p>{{dao.annotazione|nl2br}}</p></td>
            </tr>
        </table>
                {% else %}
        <p><img src= "gui/attenzione_48X48.png">ELIMINATO: Niente da visualizzare</p>
        <p><img src= "gui/testata_promogest2.png"></p>
        {% endif %}
{% endblock %}
