{% if pageData['subdomain'] %}
    {% extends pageData['subdomain'].template+'/index.html' %}
{% else %}
    {% extends 'mainsite/index.html' %}
{% endif %}

{% block center %}
<fieldset>
<div id="box">
    <span class="testa">Recupera la Password</span>
    <hr></hr>
    <form action="/recoveryPassword" method="post">
    <div class="row thin">
                <span class="word">Username</span>
                <span class="insert">
                    <input id="username" name="username" type="text" tabindex="1" ddv-required="true" ddv-minlenght="4" ddv-regexp="[a-zA-Z0-9_\-\.]{4,}"/>
                </span>
            </div>
        <div class="row thin lineTop">
            <span class="word">Inserisci la tua email</span>
            <span class="insert">
            <input id="emailrecovery" name="emailrecovery" tabindex="2" ddv-required="true" type="text" />
            </span>
        </div>
        <div class="row thin lineTop center">
            <input type="submit" value="Invia"/><input type="reset" value="Annulla" />
        </div>
    </form>
</div>
</fieldset>
{% endblock %}
