{% if pageData['subdomain'] %}
    {% extends pageData['subdomain'].template+'/index.html' %}
{% else %}
    {% extends 'mainsite/index.html' %}
{% endif %}

{% block center %}

<!--         <div id="box"> -->
            <div id="contents">
            <h2>Screenshots</h2><br />
            <h4 style="text-align:center;">Alcuni screenshots del PromoGest all'opera sia su GNU/Linux, che su MS Windows.</h4>
             <p style="text-align:center;font-weight:bold;">( Clicca sulle immagini per ingrandire )</p>
<!--              <h4><a href="http://trac.promotux.it/promogest/wiki/sla2pdf/index">Altri screenshots</a> del sistema di stampa Sla2Pdf...</h4> -->


                <div class="screenshots">
            <span class="testo">Schermata di accesso (GNU/Linux)</span>
            <span class="testo">Schermata iniziale (MS Windows)</span>
            <span class="screen">
                            <a href="/templates/promoGest/screenshots/0.9/schermata_accesso_linux.png" onclick="return GB_showImage('', this.href)">
                                <img src="/templates/promoGest/screenshots/0.9/schermata_accesso_linux_thumb.png" alt="Screenshot: Schermata di accesso (Gnu/linux)"/>
                            </a>
                        </span>
            <span class="screen">
                            <a href="/templates/promoGest/screenshots/0.9/schermata_iniziale_win.png" onclick="return GB_showImage('', this.href)">
                                <img src="/templates/promoGest/screenshots/0.9/schermata_iniziale_win_thumb.png" alt="Screenshot: Schermata iniziale (MS Windows)"/>
                            </a>
                        </span>
        </div>
        <div class="screenshots">
            <span class="testo">Schermata magazzini (GNU/Linux)</span>
            <span class="testo">Schermata anagrafiche (MS Windows)</span>
            <span class="screen">
                            <a href="/templates/promoGest/screenshots/0.9/schermata_magazzini_linux.png" onclick="return GB_showImage('', this.href)">
                                <img src="/templates/promoGest/screenshots/0.9/schermata_magazzini_linux_thumb.png" alt="Screenshot: Schermata di accesso (windows)"/>
                            </a>
                        </span>
            <span class="screen">
                            <a href="/templates/promoGest/screenshots/0.9/schermata_anagrafiche_win.png" onclick="return GB_showImage('', this.href)">
                                <img src="/templates/promoGest/screenshots/0.9/schermata_anagrafiche_win_thumb.png" alt="Screenshot: Schermata Anagrafiche (MS windows)"/>
                            </a>
                        </span>
                </div>
        <div class="screenshots">
            <span class="testo">Schermata documenti (GNU/Linux)</span>
            <span class="testo">Schermata parametri (MS Windows)</span>
            <span class="screen">
                            <a href="/templates/promoGest/screenshots/0.9/schermata_registrazione_documenti_linux.png" onclick="return GB_showImage('', this.href)">
                                <img src="/templates/promoGest/screenshots/0.9/schermata_registrazione_documenti_linux_thumb.png"/>
                            </a>
                        </span>
            <span class="screen">
                <a href="/templates/promoGest/screenshots/0.9/schermata_parametri_win.png" onclick="return GB_showImage('', this.href)">
                                <img src="/templates/promoGest/screenshots/0.9/schermata_parametri_win_thumb.png"/>
                            </a>
                        </span>
        </div>
        <div class="screenshots">
           <span class="testo">Schermata dati articolo (GNU/Linux)</span>
                    <span class="testo">Schermata anagrafica articoli (MS Windows)</span>
            <span class="screen">
                            <a href="/templates/promoGest/screenshots/0.9/schermata_dati_articolo_linux.png" onclick="return GB_showImage('', this.href)">
                                <img src="/templates/promoGest/screenshots/0.9/schermata_dati_articolo_linux_thumb.png"/>
                            </a>
                        </span>
            <span class="screen">
                            <a href="/templates/promoGest/screenshots/0.9/schermata_articoli_win.png" onclick="return GB_showImage('', this.href)">
                                <img src="/templates/promoGest/screenshots/0.9/schermata_articoli_win_thumb.png"/>
                            </a>
                        </span>
        </div>
        <div class="screenshots">
            <span class="testo">Schermata promemoria (GNU/Linux)</span>
            <span class="testo">Schermata listini (MS Windows)</span>
            <span class="screen">
                            <a href="/templates/promoGest/screenshots/0.9/schermata_promemoria_linux.png" onclick="return GB_showImage('', this.href)">
                                <img src="/templates/promoGest/screenshots/0.9/schermata_promemoria_linux_thumb.png"/>
                            </a>
                        </span>
            <span class="screen">
                            <a href="/templates/promoGest/screenshots/0.9/schermata_listini_win.png" onclick="return GB_showImage('', this.href)">
                                <img src="/templates/promoGest/screenshots/0.9/schermata_listini_win_thumb.png"/>
                            </a>
                        </span>
        </div>
                <div class="screenshots">
            <span class="testo">Schermata azioni (GNU/Linux)</span>
            <span class="testo">Schermata importazione listini (MS Windows)</span>
            <span class="screen">
                            <a href="/templates/promoGest/screenshots/0.9/schermata_azioni_linux.png" onclick="return GB_showImage('', this.href)">
                                <img src="/templates/promoGest/screenshots/0.9/schermata_azioni_linux_thumb.png"/>
                            </a>
                        </span>
            <span class="screen">
                            <a href="/templates/promoGest/screenshots/0.9/schermata_importazione_listini_win.png" onclick="return GB_showImage('', this.href)">
                                <img src="/templates/promoGest/screenshots/0.9/schermata_importazione_listini_win_thumb.png"/>
                            </a>
                        </span>
        </div>
                <div class="screenshots">
            <span class="testo">Output : generazione etichette</span>
            <span class="testo">Output : generazione fattura</span>
            <span class="screen">
                            <a href="/templates/promoGest/screenshots/0.9/etichette.png" onclick="return GB_showImage('', this.href)">
                                <img src="/templates/promoGest/screenshots/0.9/etichette_thumb.png"/>
                            </a>
                        </span>
            <span class="screen">
                            <a href="/templates/promoGest/screenshots/0.9/fattura.png" onclick="return GB_showImage('', this.href)">
                                <img src="/templates/promoGest/screenshots/0.9/fattura_thumb.png"/>
                            </a>
                        </span>
<!--         </div> -->
             </div>

</div>

{% endblock %}
