<style>

    body {font-family: 'Lucida Casual';
    font-size:0.8em;
    }

    a {
    color:#712905;
    }

    table { width: 100%; }

    td.left {text-align: left;}

    td.odd-detail {
        text-align: left;
        color :black;
        border-bottom : 1px solid #c0c0c0;
    }

    td.even-detail { text-align: left;
                    color :black;
                    background: #efefef;
                    border-bottom : 1px solid #FFFFFF;
    }

    td.odd-number {
        text-align: right;
        color :black;
        border-bottom : 1px solid #c0c0c0;
    }

    td.even-number {
        text-align: right;
        color :black;
        background: #efefef;
    }

    tr.even-detail {
        text-align: left;
        color :black;
        border : 1px solid #000000;
    }

    th {
        padding-left: 0px;
        font-weight: normal;
/*         font-style: italic; */
        font-size: 1.1em;
    }

/*     th.left {font-weight: normal;} */

    li {
        padding-left: 4px;
    }

    .table-header {
            color: #000000;
/*            font-weight : bold;*/
            border-width: 1px 0px 1px 0px;
            border-style: solid;
            border-color: #777777;
            padding: 0px;
            margin: 0px;
            font-size: 1.1em;
        background : #FFFFC0;
    }
    .header {
/*         font-style: italic; */
        color: black;
        border-width: 1px 0px 1px 0px;
        border-style: solid;
        border-color: black;
        padding: 4px;
        margin: 4px;
        font-size: 1.1em;
    }

    .report-header {
/*         text-align: left; */
        color :black;
        font-size: 1.1em;
    }

    .totale-number {
        padding-top: 6px;
        margin-top: 0px;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
        border-color: black;
        text-align: right;
    }

    .totale-detail {
        padding-top: 6px;
        margin-top: 0px;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
        border-color: black;
        text-align: left;
    }


    td.number {
        text-align: right;
    }
    td.img{
/*     border-width: 2px; */

}
    th.number {
        text-align: right;
    }

#container {
    width: auto;
/*     height: 600px; */
}


table#calendar{width:160px;font: 12px "Trebuchet MS",sans-serif;
    text-align:center;color:#444}
table#calendar,table#calendar th,table#calendar td{
    border: 1px solid #99A4C4;border-collapse:collapse}
table#calendar th{background: #FEFEFE url(gui/thbk.png) repeat-x bottom}
table#calendar td{background: #DBDFEB url(gui/tdbk.png) no-repeat}
table#calendar a{text-decoration:none;color:#4A5576;font-weight:bold}
table#calendar a:hover{color: #716F64}

@page {
size: A4 landscape;
margin: 1cm;
}

</style>
