<style>


    /*a {color:#712905; }*/

    /*table { width: 100%; }*/

    td.left {text-align: left;}

    li.detail-red {
        color: red;
        font-size:11px;
        font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    }

    td.odd-detail {
        text-align: left;
        color:#000000;
        border-bottom : 1px solid #c0c0c0;

        font-size:11px;
        font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
        padding:3px;
    }

    td.even-detail {  /* ALESSIA */
                    text-align: left;
                    color:#000000;
                    background: #E1DfDf;
                    border-bottom : 1px solid #404040;
                    font-size:11px;
                    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
        padding:3px;
    }

    td.odd-number {
        text-align: right;
        color :black;
        border-bottom : 1px solid #c0c0c0;
        padding:3px;
    }

    td.even-number {
        text-align: right;
        color :black;
        background: #efefef;
        padding:3px;
    }

    tr.even-detail {
        text-align: left;
        color :black;
        border : 1px solid #000000;
        padding:3px;
    }

    /*th {
        font-weight: normal;
        font-size: 11px;
        border-bottom: 1px solid #404040;
        color: #404040;
    }*/

/*     th.left {font-weight: normal;} */

    li {
        padding-left: 4px;
    }

   /* .table-header {
        color: #404040;
        font-weight : bold;
        font-size: 13px;
        background : #ECE0E0;
    }*/
    .header {
/*         font-style: italic; */
        color: black;
        border-width: 1px 0px 1px 0px;
        border-style: solid;
        border-color: black;
        padding: 4px;
        margin: 4px;
        font-size: 1.1em;
    }

    .report-header {
/*         text-align: left; */
        color :black;
        font-size: 1.1em;
    }

    .totale-number {
        padding-top: 6px;
        margin-top: 0px;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
        border-color: black;
        text-align: right;
    }

    .totale-detail {
        padding-top: 6px;
        margin-top: 0px;
        border-width: 1px 0px 0px 0px;
        border-style: solid;
        border-color: black;
        text-align: left;
    }


    td.number {
        text-align: right;
    }
    td.img{
/*     border-width: 2px; */

}
    th.number {
        text-align: right;
    }

#container {
    width: auto;
/*     height: 600px; */
}


table#calendar{width:160px;font: 12px "Trebuchet MS",sans-serif;
    text-align:center;color:#444}
table#calendar,table#calendar th,table#calendar td{
    border: 1px solid #99A4C4;border-collapse:collapse}
table#calendar th{background: #FEFEFE url(gui/thbk.png) repeat-x bottom}
table#calendar td{background: #DBDFEB url(gui/tdbk.png) no-repeat}
table#calendar a{text-decoration:none;color:#4A5576;font-weight:bold}
table#calendar a:hover{color: #716F64}

@page {
size: A4 landscape;
margin: 1cm;
}
@media print{@page {size: landscape}}
</style>
