{% if not pageData['subdomain'] =="" %}
    {% extends pageData['subdomain']+"/"+'index.html' %}
{% else %}
    {% extends 'index.html' %}
{% endif %}

{% block center %}

<div id="box2">
<div><h2>Pannello di amministrazione</h2><br /></div>
        <hr></hr>
        <div id="row">
        <span class="box">
            <a href="/siteAdmin/setup">
                    <img src="/templates/siteAdmin/img/settaggio.png" alt="|   SETUP   " title="Configurazione JANAS" ALIGN="Left" />
                </a>
        </span>
        <span class="box">
            <a href="/siteAdmin/setconfList">
                <img src="/templates/siteAdmin/img/users_.png" alt="|   SETCONF   " title="gestione settaggi e configurazioni" />
            </a>
        </span>
        {#<span class="box">
        <a href="/siteAdmin/theme_setup">
        <img src="/templates/siteAdmin/img/themes.png" alt="|   THEMES   " title="Scelta THEME" />
        </a>
        </span>
        {% if conf.conf.Section.user=="True" %}
        <span class="box">
            <a href="/siteAdmin/userList">
                <img src="/templates/siteAdmin/img/users.png" alt="|   UTENTI   " title="gestione utenti" />
            </a>
        </span>
        {% endif %}
        {% if conf.conf.Section.subdomain =="True" %}
        <span class="box">
            <a href="/siteAdmin/subdomainList">
                <img src="/templates/siteAdmin/img/users_.png" alt="|   SUBDOMAIN   " title="gestione sottodomini" />
            </a>
        </span>
        {% endif %}
        {% if conf.conf.Section.role=="True" %}
        <span class="box">
            <a href="/siteAdmin/roleList">
            <img src="/templates/siteAdmin/img/users_profile.png" alt="|   RUOLI   " title="gestione ruoli"/>
            </a>
        </span>
        {% endif %}
        {% if conf.conf.Section.menu=="True" %}
        <span class="box">
            <a href="/siteAdmin/staticMenuList">
                <img src="/templates/siteAdmin/img/menu.png" alt="|   MENU   " title="gestione menu"/>
            </a>
        </span>
        {% endif %}
        {% if conf.conf.Section.family=="True" %}
            <span class="box">
                <a href="/siteAdmin/family">
                    <img src="/templates/siteAdmin/img/gestione_famiglie.png" alt="|   FAMIGLIE   " title="gestione famiglie"/>
                </a><br />
                famiglie

            </span>
        {% endif %}
        {% if conf.conf.Section.page=="True" %}
            <span class="box">
                <a href="/siteAdmin/staticPagesList">
                    <img src="/templates/siteAdmin/img/pages.png" alt="|   PAGINE    " title="gestione pagine"/>
                </a>
            </span>
        {% endif %}
        {% if conf.conf.Section.news=="True" %}
            <span class="box">
                <a href="/siteAdmin/newsList">
                    <img src="/templates/siteAdmin/img/news.png" alt="|   NEWS   " title="gestione news"/>
                </a>
            </span>
        {% endif %}
        {% if conf.conf.Section.company=="True" %}
            <span class="box">
                <a href="/siteAdmin/companyList">
                    <img src="/templates/siteAdmin/img/aziende.png" alt="|   AZIENDE    " title="gestione aziende"/>
                </a>
            </span>
        {% endif %}
        {% if conf.conf.Section.software=="True" %}
            <span class="box">
                <a href="/siteAdmin/swList">
                    <img src="/templates/siteAdmin/img/software.png" alt="|   SOFTWARE   " title="gestione software"/>
                </a>
            </span>
        {% endif %}
        {% if conf.conf.Section.article=="True" %}
            <span class="box">
                <a href="/siteAdmin/article">
                    <img src="/templates/siteAdmin/img/gestione_articolo.png" alt="|   ARTICOLI   " title="gestione articoli"/>
                </a>
            </span>
        {% endif %}
        {% if conf.conf.Section.sincrodb=="True" %}
            <span class="box">
                <a href="/siteAdmin/syncroDb">
                    <img src="/templates/siteAdmin/img/syncroDB.png" alt="|   SINCRO DB   " title="sincronizzazione DB"/>
                </a>
            </span>
        {% endif %}
        {% if conf.conf.Section.discount=="True" %}
            <span class="box">
                <a href="/siteAdmin/discount">
                    <img src="/templates/siteAdmin/img/gestione_sconti.png" alt="|   SCONTI   " title="gestione sconti"/>
                </a>
            </span>
        {% endif %}
        {% if conf.conf.Section.carriage=="True" %}
            <span class="box">
                <a href="/siteAdmin/ss">
                    <img src="/templates/siteAdmin/img/gestione_spese_spedizione.png" alt="|   SPESE SPEDIZIONE   " title="gestione spese spedizione"/>
                </a>
            </span>
        {% endif %}
        {% if conf.conf.Section.payment=="True" %}
            <span class="box">
                <a href="/siteAdmin/metodiPagamentoList">
                    <img src="/templates/siteAdmin/img/gestione_pagamenti.png" alt="|   METODI PAGAMENTO   " title="metodi di Pagamento"/>
                </a>
            </span>
        {% endif %}
        {% if conf.conf.Section.listini=="True" %}
            <span class="box">
                <a href="/siteAdmin/listino">
                    <img src="/templates/siteAdmin/img/gestione_listini.png" alt="|   LISTINI   " title="gestione listini"/>
                </a>
            </span>
        {% endif %}
        {% if conf.conf.Section.feed=="True" %}
            <span class="box">
                <a href="{{pageData['subdomain']|nonone}}/siteAdmin/feedList">
                    <img src="/templates/siteAdmin/img/feeds.png" alt="|   FEED   " title="gestione feed"/>
                </a>
            </span>
        {% endif %}
        {% if conf.conf.Section.file=="True" %}
            <span class="box">
                <a href="/siteAdmin/fileList">
                    <img src="/templates/siteAdmin/img/files.png" alt="|   FILE   " title="gestione file"/>
                </a>
            </span>
            {% endif %}
        {% if conf.conf.Section.moduli=="True" %}
            <span class="box">
                <a href="/siteAdmin/moduleList">
                    <img src="/templates/siteAdmin/img/modules.png" alt="|   MODULI   " title="gestione moduli"/>
                </a>
            </span>
            {% endif %}
        {% if conf.conf.Section.servizi=="True" %}
            <span class="box">
                <a href="/siteAdmin/serviceList">
                    <img src="/templates/siteAdmin/img/services.png" alt="|   SERVIZI   " title="gestione servizi"/>
                </a>
            </span>
            {% endif %}
            {% if conf.conf.Section.ols=="True" %}
            <span class="box">
                <a href="/siteAdmin/olsList">
                    <img src="/templates/siteAdmin/img/ols.png" alt="|   OLS   " title="gestione ols"/>
                </a>
            </span>
            {% endif %}  #}
 </div>
<!--  <hr></hr> -->
</div><br />

<div>{% block operation %}

ECCOCI


{%endblock%}</div>
{% endblock %}
