<div id="leftcolumn">
    <a href="{{req.url_root}}main">TORNA AL SITO</a>
        {% if pageData["auth"] %}
                <p>Benvenuto:{{ pageData["nameuser"] }}<br />
                Ruolo: {{pageData["role"]}}</p>
                <ul class="login-box">
                {% if pageData["role"] == "Admin" %}
                    <li><a class="login" href="#"><img src="/templates/img/lucchetto_48X48.png" width="48" height="48" alt="" /><br /> SETUP-CONF</a></a></li>
                    <li><a class="login" href="/anagrafiche"><img src="/templates/img/anagrafica48x48.png" width="48" height="48" alt="" /><br />Anagrafiche</a></li>
                    <li><a class="login" href="/magazzini"><img src="/templates/img/magazzino48x48.png" width="48" height="48" alt="" /><br />Magazzini</a></li>
                    <li><a class="login" href="/#"><img src="/templates/img/listino48x48.png" width="48" height="48" alt="" /><br />Listini</a></li>
                    <li><a class="login" href="/#"><img src="/templates/img/documento48x48.png" width="48" height="48" alt="" /><br />Documenti</a></li>
                    <li><a class="login" href="/parametri"><img src="/templates/img/parametri48x48.png" width="48" height="48" alt="" /><br />Parametri</a></li>
                    <li><a class="login" href="/promemoria"><img src="/templates/img/promemoria48x48.png" width="48" height="48" alt="" /><br />Promemoria</a></li>
                    <li><a href="/logout" class="login"><img src="/templates/img/uscita48x48.png" width="48" height="48" alt="" /><br />Logout</a></li>
                {% else %}
                    <li><a href="userdata" class="login">Modifica dati</a></li>
                    <li><a href="changepass" class="login">Cambio password</a></li>
                    <li><a href="software_change" class="login">Gestione software</a></li>
                {% endif %}

                </ul>
            {% endif %}
</div>
