<div id="menudx">
    <div class="ombra" id="menupreventivo">
        <div class="testatina" id="cla">
            <div align="center" class="titolitestate">Novità
            </div>
        </div>
      <div id="partecipate">
        <div class="imgpartec">
            <div><a href="/promoGest/preventivo_online1"><img src="/templates/promoGest/img/banner_preventivo.png" alt="class_developer"/></a>
            </div>
        </div>
    </div>
    </div>    <br />
    {% include 'promoGest/login.html' with context %}
    <br />
    <div class="ombra" id="menudxlinks">
      <div class="testatina" id="men">
        <div align="center" class="titolitestate">Menu'</div>
      </div>
      <div id="menu1">
        <ul class="menu1">
          <li><a href="/promoGest">Home Promogest</a></li>
          <li><a href="/promoGest/cms/promogest-caratteristiche">Le Caratteristiche</a></li>
          <li><a href="/promoGest/cms/promogest-versioni">Le Versioni</a></li>
          <li><a href="/promoGest/cms/installa-promogest-su-linux">Installa su Linux</a></li>
        <li><a href="/promoGest/cms/installa-promogest-su-windows">Installa su Windows</a></li>
          <li><a href="/promoGest/moduli">I Moduli</a></li>
          <li><a href="/promoGest/servizi">I Servizi</a></li>
          <li><a href="/promoGest/cms/promogest-il-listino">Il Listino</a></li>
          <li><a href="http://www.dropbox.com/gallery/8630608/1/PromoGest2_screenshots?h=e45557" target="_blank" >Screenshots</a></li>
           <li><a href="http://vimeo.com/user2523190/videos/sort:newest/format:detail" target="_blank" >Video su Vimeo</a></li>
          <li><a href="/promoGest/cms/promogest-soluzioni-complete">Soluzioni Complete</a></li>
          <li><a href="http://help.promotux.it">Manuale OnLine</a></li>
          <li><a href="/promoGest/cms/portfolio">Portfolio</a></li>
        <li><a href="/promoGest/cms/faq">FAQ</a></li>
       </ul>
      </div>
    </div>
    <div class="ombra" id="menuclass">
      <div class="testatina" id="cla">
        <div align="center" class="titolitestate">Class Developer</div>
      </div>
      <div id="partecipate">
        <div class="imgpartec"><div><a href="/promoGest/cms/class-developer"><img src="/templates/promoGest/img/partecipa.png" alt="class_developer"/></a></div></div>
      </div>
<!--       <div class="ombra" id="menu2"> -->
<!--        <ul class="menu1">
          <li><a href="{{pageData['subdomain']}}" class="menu1">Regolamento</a></li>
          <li><a href="{{pageData['subdomain']}}">Bacheca</a></li>
          <li><a href="{{pageData['subdomain']}}">Scaletta</a></li>
        </ul>-->
<!--       </div> -->
    </div>
        <div class="ombra" id="menunetwork">
      <div class="testatina" id="developer">
        <div align="center" class="titolitestate">Network </div>
      </div>
      <div id="network">
        <div class="imgpartec"></div>
      </div>
      <div class="ombra" id="menu3">
        <ul class="menu1">
          <li><a href="http://www.e-linux.it" target="_blank">E-linux</a></li>
          <li><a href="http://www.forpassion.net" target="_blank">Forpassion</a></li>
        <li><a href="http://promowear.promotux.it" target="_blank">PromoWear</a></li>
        <li><a href="http://www.onelinespot.com" target="_blank">Onelinespot</a></li>
                <!-- Inizio Codice ShinyStat -->
<script type="text/javascript" src="http://codice.shinystat.com/cgi-bin/getcod.cgi?USER=promotux"></script><br /><li>
<noscript>
<a href="http://www.shinystat.com/it" target="_top">
<img src="http://www.shinystat.com/cgi-bin/shinystat.cgi?USER=promotux" alt="Contatore utenti connessi" border="0" /></a>
</noscript></li>
<!-- Fine Codice ShinyStat -->
        <li><br /><A href="http://www.alexa.com/siteinfo/www.promotux.it"><SCRIPT type='text/javascript' language='JavaScript' src='http://xslt.alexa.com/site_stats/js/s/a?url=www.promotux.it'></SCRIPT></A></li>

        </ul>
       </div>
    </div>
    <br />
       <div class="ombra" id="topten">
      <div class="testatina" id="developer">
        <div align="center" class="titolitestate">Più Cliccati </div>
        <p>NEWS</p>
        <ul class="menuTOP">
        {% for p in pageData["toptennews"] %}
        <li><a href="/{{pageData['subdomain'].template}}/news_detail/{{p.permalink}}"><strong>{{p.clicks}}</strong> - {{p.title }}</a></li>
        {% endfor %}
        </ul>
        <p>MODULI</p>
<ul class="menuTOP">
        {% for p in pageData["toptenmodule"] %}

        <li><a href="/{{pageData['subdomain'].template}}/dettaglio_moduli/{{p.permalink}}"><strong>{{p.clicks}}</strong> - {{p.denomination }}</a></li>


        {% endfor %}        </ul>
      </div>
            </div>

  </div>
