<html xmlns:py="http://genshi.edgewall.org/" py:strip=""
      xmlns:xi="http://www.w3.org/2001/XInclude" xi:strip="">


<div id="box">
    <form name="myform" action="/${pageData ['path'][1]}/${pageData['path'][2]}/${pageData['path'][3]}/ssUpdate" method="POST">
        <span class="testa">Seleziona le metodologie di spedizione da Attivare<br /></span>
        <hr/>
        <span class="check ultraThin" py:for="pag in pageData['spedizione']">
            <span py:if="pag.sospeso==1">
                <input type="checkbox" name="$pag.denominazione" value="1" checked="checked" />
                $pag.denominazione</span>
                <span py:if="pag.sospeso==None or pag.sospeso==0">
                    <input type="checkbox" name="$pag.denominazione" value="1"/>
                     $pag.denominazione
            </span>
        </span>
        <span class="confirm center">
                <input type="submit" value="Modifica" tabindex="8"/><input type="reset" value="Annulla"/>
        </span>
    </form>
</div>

</html>
