<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
    <TITLE></TITLE>
    <STYLE TYPE="text/css">
    <!--
        @page { size: landscape; margin: 2cm }
        P { margin-bottom: 0.21cm }
        TD P { margin-bottom: 0cm }
        TH P { margin-bottom: 0cm }
        A:link { so-language: zxx }
    -->
    </STYLE>
</HEAD>
<BODY LANG="it-IT" DIR="LTR">
<P>Prospetto risultante per la statistica :{{pageData["ricerca_stringa"]}}</P>

{% for c in pageData["diz"] %}
<P>Fornitore: {{c['fornitore'].ragione_sociale}}</P>
<TABLE WIDTH=100% BORDER=1 BORDERCOLOR="#000000" CELLPADDING=4 CELLSPACING=0>
    <!--<COL WIDTH=37*>
    <COL WIDTH=37*>
    <COL WIDTH=37*>
    <COL WIDTH=37*>
    <COL WIDTH=37*>
    <COL WIDTH=37*>
    <COL WIDTH=37*>-->
    <THEAD>
        <TR VALIGN=TOP>
            <TH WIDTH=38%>Articolo</TH>
            <TH WIDTH=14%>Tot imponibile acquistato</TH>
            <TH WIDTH=14%>Tot imponibile venduto</TH>
            <TH WIDTH=14%>Quantità acquistata</TH>
        <TH WIDTH=14%>Quantità venduta</TH>
	<th width=14%>Margine</th>
	<th width=14%>Ricarico</th>
	<th width=14%>Residuo</th>
        </TR>
    </THEAD>
    <TBODY>
	    {% for k in c['data'] %}
        <TR VALIGN=TOP>
            <TD>{{c['data'][k]['DAO_ART'].denominazione}}</TD>
            <TD>{{utils.mNLC(c['data'][k]['TOTACQ'],2)}}</TD>
            <TD>{{utils.mNLC(c['data'][k]["TOTVEN"],2)}}</TD>
            <TD>{{utils.mN(c['data'][k]['QTAACQ'],0)}}</TD>
	    <TD>{{utils.mN(c['data'][k]["QTAVEN"],0)}}</TD>
	    {% if c['data'][k]['QTAACQ'] == 0 or c['data'][k]['QTAVEN'] == 0 %} 
	    <td>0</td>
	    <td>0</td>
	    {% else %}
	    {%
	        set margine = utils.mN(utils.calcolaMargine(c['data'][k]['TOTACQ']/c['data'][k]['QTAACQ'],
		            c['data'][k]['TOTVEN']/c['data'][k]['QTAVEN']), 0)
	    %}
	    <td>{{ margine }} %</td>
	    <td>{{ utils.mN(utils.calcolaRicaricoDaMargine(margine), 0) }} %</td>
	    {% endif %}
	    <td>0</td>
        </TR >
	{% endfor %}
	<tr>
		<TD><b>TOTALI</b></TD>
		<TD>{{utils.mNLC(c['totali']['totale_acq'], 2)}}</TD>
                <TD>{{utils.mNLC(c['totali']['totale_ven'], 2)}}</TD>
        	<TD>{{utils.mN(c['totali']['totale_qta_acq'], 0)}}</TD>
        	<TD>{{utils.mN(c['totali']['totale_qta_ven'], 0)}}</TD>
		<td></td>
		<td></td>
	</tr>
    </TBODY>
</TABLE>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
{% endfor %}
</BODY>
</HTML>
