{% include 'single_style.css' with context %}
{% block body %}
    {% if dao %}
    <table cellpadding="0" cellspacing="0" border="0">
            <tr><td colspan="3" class="table-header"><b>MAGAZZINO:</b> {{dao.magazzino}} <br/><b>ARTICOLO: CODICE:</b> {{dao.codice_articolo}}  - <b>C/BARRE:</b> {{dao.arti.codice_a_barre}} <br /> <b>DENOM:</b> {{dao.articolo}}</td></tr>
            <tr>
                <td width="25%" class="odd-detail">Scorta minima</td>
                <td width="25%" class="odd-detail"><strong>{{dao.scorta_minima|nonone}}</strong></td>
                <td width="25%" class="odd-detail">Livello riordino</td>
                <td width="25%" class="odd-detail"><strong>{{dao.livello_riordino|nonone}}</strong></td>
            </tr>
            <tr>
                <td width="20%" class="even-detail" >Data fine scorte</td>
                <td class="even-detail">
                    {% if dao.data_fine_scorte %}
                        <strong>{{utils.dateToString(dao.data_fine_scorte)}}</strong>
                    {% endif %}
                </td>
                <td width="20%" class="even-detail" >Data prossimo ordine</td>
                <td class="even-detail">
                     {% if dao.data_prossimo_ordine %}
                        <strong>{{utils.dateToString(dao.data_prossimo_ordine)}}</strong>
                    {% endif %}
                </td>
            </tr>
</table><br />

<table cellpadding="0" cellspacing="0" border="0">
            <tr><td colspan="3" class="table-header">Situazione magazzino</td></tr>
            <tr class="even-detail">
                <td class="even-number" style="text-align:center;" width="45%" style="padding-left:20px;" > INFO DOCUMENTO E MOVIMENTO </td>
                <td class="even-number" style="text-align:center;" width="7%">Quantità</td>
                <td class="even-number" style="text-align:center;" width="5%">Valore</td>
            </tr>
            {% for item in dao.totaliOperazioniMovimento %}
            <tr >
            <td class="odd-detail" style="padding-left:5px;"><b>DOC:</b> N° {{item['daoTestataDocumento'].numero}} -- <b>MOV:</b> N° {{item['numero']}} - {{item['operazione']}} - Del: {{utils.dateToString(item['data_movimento'])}} - Rag_soc.:{{item['fornitore'][0:9]|string}}{{item['cliente'][0:9]|string}}<br>

            </td>
            <td class="odd-number" style="text-align:center;" >{{'%14.1f' % (item['giacenza'],)}}</td>
            <td class="odd-number" style="text-align:center;">{{utils.mNLC(item['valore'],2)}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td class="totale-detail"><strong>Totali</strong></td>
                <td class="totale-number" style="text-align:center;"><strong>{{'%14.1f' % (dao.giacenza, )}}</strong></td>
                <td class="totale-number" style="text-align:center;"><strong>{{utils.mNLC(dao.valoreGiacenza,2)}}</strong></td>
            </tr>
</table>
        {% else %}
        <p><img src= "gui/attenzione_48X48.png">ELIMINATO: Niente da visualizzare</p>
        <p><img src= "gui/testata_promogest2.png"></p>
        {% endif %}
{% endblock %}
