{% extends 'siteAdmin/siteAdmin.html' %}
{% block operation %}
{#% include 'siteAdmin/tinyPart.html' with context %#}


<div id="box">
        <span class="testa"><h2>Gestione Theme</h2></span>
        <hr></hr>
        <div class="row normal">
        </div>
        <form  method="POST" action="/siteAdmin/theme_setup">
        {% for dir in pageData['filedir'] %}
        <span class="insert">
        {% if conf.conf.Project.template ==dir %}
        <input type="radio" name="theme" value="{{dir}}" checked="checked" /> {{dir}}
        {% else %}
        <input type="radio" name="theme" value="{{dir}}" /> {{dir}}
        {% endif %}
        </span><br />
        {% endfor %}

        <div class="row normal lineTop">
        <input type="submit" value="salva"/>
        </div>
        </form>
        </div>
</div>
<!--<iframe style="border:0px;" src="/" width="100%" height="400">Preview</iframe>-->
        </div>
{%endblock%}
