{% extends 'mainsite/index.html' %}

{% block center %}
<div id="contentss">

{% if "error" in pageData %}
<div id="box">
  <b>{{ pageData['error'] }}</b>
    <br /> <br />
    </div>
{% endif %}


    <div id="page" align="center">
<br /><fieldset>
    <span class="testa"><h1>Registrazione utente / partner </h1></span>
    <form method="post" action="/userRegistration?new">
    <input type="hidden" name="string" value="{{pageData['string']}}"/>
    <table border="0" cellpadding="0" cellspacing="2" id="contacts">
    <tr><td class="contacts-left">Username*:</td>
    <td class="contacts-right"><input type="text" name="username" size="30" maxlength="100" class="contacts" value="{{pageData['forms'].username|nonone}}" /></td></tr>
    <tr><td class="contacts-left">Password*:</td>
    <td class="contacts-right"><input type="password" name="password" size="30" maxlength="100" class="contacts" /></td></tr>
    <tr><td class="contacts-left">Conferma Password*:</td>
    <td class="contacts-right"><input type="password" name="re-password" size="30" maxlength="100" class="contacts" /></td></tr>
    <tr><td class="contacts-left">Nome:</td>
    <td class="contacts-right"><input type="text" name="nome" size="30" maxlength="50" class="contacts"  value="{{pageData['forms'].nome|nonone}}"/></td></tr>
    <tr><td class="contacts-left">Cognome:</td>
    <td class="contacts-right"><input type="text" name="cognome" size="30" maxlength="50" class="contacts" value="{{pageData['forms'].cognome|nonone}}"/></td></tr>
    <tr><td class="contacts-left">Città:</td>
    <td class="contacts-right"><input type="text" name="citta" size="30" maxlength="50" class="contacts" value="{{pageData['forms'].citta|nonone}}" /></td></tr>

    <tr><td class="contacts-left">Provincia:</td>
    <td class="contacts-right">
    <select name="provincia">
    {% for prov in pageData['province'] %}
        {% if prov.id == pageData["forms"].provincia %}
        <option value="{{prov.id }}" selected="yes">{{prov.denominazione}}&nbsp;(&nbsp;{{prov.denominazione_breve }}&nbsp;)</option>
        {% else %}
        <option value="{{prov.id }}">{{prov.denominazione}}&nbsp;(&nbsp;{{prov.denominazione_breve }}&nbsp;) </option>
        {% endif %}
    {% endfor %}
    </select>
    </td></tr>


    <tr><td class="contacts-left">Regione:</td>
    <td class="contacts-right">
    <select name="regione">
    {% for reg in pageData['regioni'] %}
        {% if reg.id == pageData["forms"].regione %}
        <option value="{{reg.id }}" selected="yes">{{reg.denominazione}}</option>
                        {% else %}
                    <option value="{{reg.id }}">{{reg.denominazione}}</option>
                    {% endif %}
    {% endfor %}
    </select>
    </td></tr>
    <tr><td class="contacts-left">E-mail*:</td>
    <td class="contacts-right"><input type="text" name="email" size="30" maxlength="50" class="contacts" /></td></tr>
    <tr><td class="contacts-left">Conferma E-mail*:</td>
    <td class="contacts-right"><input type="text" name="re_email" size="30" maxlength="50" class="contacts" /></td></tr>
    <tr><td class="contacts-left">Sito web:</td>
    <td class="contacts-right"><input type="text" name="url" size="20" maxlength="30" class="contacts" value="{{pageData['forms'].url|nonone}}" /></td></tr>
    <tr><td class="contacts-left">Inserisci lettere e numeri che vedi (rispetta le maiuscole):
    <img src="/templates/captcha.png?{{pageData['string']}}"></td>
    <td class="contacts-right"><input type="text" name="captcha" size="20" maxlength="30" class="contacts" />
    </td></tr>
    <tr><td class="contacts-center"><input type="submit" value="Prosegui" class="submit" /></td>
    <td class="contacts-center"><input type="reset" value="Azzera campi" class="submit" /></td></tr>
    </table>
    <span><input type="checkbox" name="mailing_list" checked/>Desidero essere informato sulle più importanti novità relative al Promogest</span>
    </form>
    </fieldset>
    <p>Compilando questo modulo vi autorizzo al trattamento dei dati ai sensi della Legge 196/03.<br />
    Promotux S.n.c, dichiara che: nel pieno rispetto della legge per la tutela dei dati personali, i dati forniti tramite il presente modulo non saranno divulgati in nessun modo senza la Sua preventiva, esplicita e scritta autorizzazione.<br /> Titolare e responsabile dei dati raccolti è la Promotux S.n.c. Via G. Deledda, 40 - 09047 Selargius CA - tel +39 070 8474056
    </p>
    </div>
{% endblock %}
