<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% include '/promoGest/head.html' with context %}
<body >
<div id="testata" align="center"><a href="/promoGest"><img src ="/templates/promoGest/img/testata_promogest2.png" alt="testata_promogest2" /></a></div>
<div  class="Windo" id="content" " align="center" style="width:100%;">
<br />

<div align="left" id="premessa" style="padding:25px;"><p><b>Premessa:</b> Innanzitutto GRAZIE per aver scelto di provare il nostro programma gestionale
open source!</p>
<p>Abbiamo deciso di aggiungere questa pagina direttamente raggiungibile dal programma stesso per rispondere alla domanda più comune che ci viene posta da chi, come te in questo momento, sta provando l'applicazione dopo averla scaricata liberamente e gratuitamente dal sito.</p>
<p>Il programma LITE è fondamentalmente uguale alla versione PRO, differisce solo per aver tutti i moduli di espansione disabilitati ed alcune piccole
limitazioni su altre parti che adesso andremo ad elencare.</p>
<p><b>LISTINI:</b> Questa versione ha un limite di <b>3</b> nel numero massimo dei listini. Sbloccare questo limite costa € 15,oo +iva </p>
<p><b>MAGAZZINI:</b> Questa versione ha un limite di <b>3</b> nel numero massimo dei magazzini /punti vendita gestiti. Sbloccare questo limite costa € 15,oo +iva </p>
<p><b>PAGAMENTI:</b> Questa versione LITE ha un limite di <b>3</b> nel numero massimo dei metodi di pagamento caricabili. Sbloccare questo limite costa € 15,oo +iva </p>
<p><b>TEMPLATE DI STAMPA DATI PROPRIA AZIENDA:</b> Questa versione <b>LITE</b> viene fornita di un modello fattura o documento in genere standard, la personalizzazione_stampe con il proprio logo e la modifica dei dati aziendali ha un costo di € 50,oo +IVA </p>

<p><b<TUTTO</b> il resto è abilitato, non ci sono quindi, limiti nel numero degli articoli o dei documenti movimenti emessi o nel numero di clienti o fornitori<p>
<p> Potete caricare i vostri clienti, i vostri fornitori, le vostre fatture di acquisto, emettere fatture generiche, caricare i vostri articoli, i codici a barre , inserirli nei listini e tanto altro.</p>

<p>Come avrete certamente notato le cifre sono davvero risibili ma rimanendo fedeli allo spirito che anima il nostro lavoro abbiamo deciso in queste parti di
rientrare solo del lavoro svolto e di finanziarne di nuovo per il bene stesso dell'applicazione </p>

<p>Resta vivamente consigliato comunque il <a href="http://www.promotux.it/userRegistration">registrarsi</a> sul sito del programma e effettuare un preventivo non vincolante online per avere
un quadro dettagliato dei costi e dei servizi che si avrebbero in cambio e soprattutto per vedere nello specifico i diversi moduli per rendere
il programma più adatto alle vostre esigenze specifiche<p>


<p>Grazie e BUON LAVORO con il vostro nuovo gestionale</p>

<p><b>PromoTUX</b></p>
 <br /> <br />
</div>
</div>
<!--end content -->
<br />
</body>
</html>
