<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:py="http://genshi.edgewall.org/"
        xmlns:xi="http://www.w3.org/2001/XInclude"
        lang="en">
    <head>
        <title>Dettaglio listino</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <xi:include href="style.css"><xi:fallback/></xi:include>
    </head>
    <body>
        <table cellpadding="3" cellspacing="5" border="0">
            <tr>
                <th>GRUPPO TAGLIA</th>
                <th>COLORE</th>
                <th>TAGLIA</th>
                <th>DESCRIZIONE</th>
                <th>CODICE A BARRE</th>
            </tr>
            <tr><td colspan="5"><hr /></td></tr>
            <tr py:for="dao in datas">
                <td class="detail" py:content="dao[0].denominazione_gruppo_taglia"></td>
                <td class="detail" py:content="dao[2].denominazione"></td>
                <td class="detail" py:content="dao[1].denominazione"></td>
                <py:if test="dao[4] !=None">
                <td class="detail" py:content="dao[4].denominazione"></td>
                </py:if>
                <py:if test="dao[4] ==None">
                <td class="detail" py:content="dao[4]"></td>
                </py:if>
                <td class="detail" py:content="dao[3]"></td>
            </tr>
        </table>
    </body>
</html>