<div id="searchBox">
    <form name="searchkey" action="/parametri/banca/list" method="post">

    <fieldset><legend>&nbsp;&nbsp;&nbsp;<b>Ricerca</b>&nbsp;&nbsp;&nbsp;</legend>
<p><label>Denom:</label><input type="text" name="denominazione" size="20" value='{{pageData["chiavi"].denominazione|nonone}}' /></p>
<p><label>Agenzia:</label><input type="text" name="agenzia" size="20" value='{{pageData["chiavi"].agenzia|nonone}}' /></p>
<p><label>Iban:</label><input type="text" name="iban" size="20" value='{{pageData["chiavi"].iban|nonone}}' /></p>
<p><input type="submit" value="Search"/>&nbsp;<input onclick="clear_form_elements(this.form)" type="submit" value="Pulisci" />
 </p>
        </fieldset>
        </form>

    <p>Totale Items: <b> {{pageData['count']}}</b></p>
</div>
